.hp_header {
  position: relative;
  z-index: 1;
  height: 0px;
  padding-top: 100%;
}
.hp_header .bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 2;
  height: 0px;
  padding-top: 100%;
}
@media screen and (min-width: 400px) {
  .hp_header {
    padding-top: 75%;
  }
  .hp_header .bg {
    padding-top: 75%;
  }
}
@media screen and (min-width: 768px) {
  .hp_header {
    padding-top: 55%;
  }
  .hp_header .bg {
    padding-top: 55%;
  }
}
@media screen and (min-width: 992px) {
  .hp_header {
    padding-top: 39%;
  }
  .hp_header .bg {
    padding-top: 39%;
  }
}
.hp_header .text {
  position: absolute;
  left: 0rem;
  top: 4rem;
  z-index: 3;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}
.hp_header .text h1, .hp_header .text p {
  color: #fff;
  margin: 0;
  text-shadow: 0 0 5rem #000000;
  line-height: 100%;
}
.hp_header .text h1 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hp_header .text h1 {
    font-size: 4.5rem;
  }
}
.hp_header .text p {
  font-size: 3rem;
}

.hp_bar {
  width: 100%;
  padding: 1.25rem 0;
  box-sizing: border-box;
  background-color: #06399a;
}
.hp_bar p {
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 120%;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}
.hp_bar p img {
  vertical-align: middle;
  display: inline;
  height: 40px;
}

.lo {
  margin: 3rem 0 3rem 0;
  box-sizing: border-box;
  position: relative;
}
.lo .clock {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
}
.lo h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 80px 2rem 0;
  color: #0d4295;
}
.lo h3 span {
  font-weight: bold;
}
.lo ul {
  margin: 0 80px 2rem 0;
  padding-left: 1rem;
}
.lo ul li {
  font-size: 1.2rem;
  color: #0d4295;
}
.lo ul:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}
.lo .moduleSelect .msBox {
  width: 100%;
}
.lo .moduleSelect .msBox .spacer .frame {
  /*
  background-image:url('/images/hp/bluefade.png');
  background-repeat:repeat-y;
  background-size:100% 100%;
  */
  margin-bottom: 5px;
}
.lo .moduleSelect .msBox .spacer .frame a {
  position: relative;
  padding-top: 41.4%;
  display: block;
}
.lo .moduleSelect .msBox .spacer .frame a img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  height: 70px;
  transform: translate(-50%, -50%);
}
.lo .moduleSelect .msBox .spacer.mba a.buttonx {
  background-color: #f6561d;
}
.lo .moduleSelect .msBox .spacer.pa a.buttonx {
  background-color: #06399a;
}
.lo .moduleSelect .msBox .spacer a.buttonx {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  white-space: nowrap;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .lo .moduleSelect {
    display: flex;
    width: 600px;
    margin: 0 auto;
  }
  .lo .moduleSelect .msBox {
    width: 50%;
    flex-basis: 50%;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .lo .moduleSelect .msBox .spacer a.buttonx {
    font-size: 1.375rem;
  }
}
@media screen and (min-width: 768px) {
  .lo {
    padding: 0rem rem 3rem 0rem;
  }
}