/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
/**
 * Other mixins
 */
.carousel-inner .professional-header-btn-wrap {
  position: absolute;
  bottom: 0;
  width: 65%;
  padding-bottom: 1rem;
}
.carousel-inner .professional-header-btn-wrap a.button {
  float: left;
  clear: both;
  display: block;
  margin-left: 50%;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #b98ec0;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b017b;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.carousel-inner .professional-header-btn-wrap a.button.header-fix {
  font-weight: normal;
  clear: none;
  margin: 0;
  color: #FFFFFF;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 2rem;
}
.carousel-inner .professional-header-btn-wrap a.button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
@media only screen and (min-width:0) and (max-width: 480px) {
  .carousel-inner .professional-header-btn-wrap a.button {
    float: none;
    font-size: 1rem;
    text-align: center !important;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.carousel-inner .professional-header-btn-wrap .button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 100%;
  color: #270786;
  text-transform: uppercase;
  background-color: #b98ec0;
  border-radius: 2.375rem;
  padding: 1.25rem 4.75rem 1.25rem 1.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.carousel-inner .professional-header-btn-wrap .button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
.carousel-inner .professional-header-btn-wrap .button .arrow {
  position: absolute;
  bottom: 0.6875rem;
  right: 0.6875rem;
  border: 2px #FFFFFF solid;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  background-image: url("../../../images/professionals/down-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  .carousel-inner .professional-header-btn-wrap .button {
    font-size: 1.25rem;
    border-radius: 1.875rem;
    padding: 1.25rem 3.75rem 1.25rem 1.25rem;
  }
  .carousel-inner .professional-header-btn-wrap .button .arrow {
    height: 2.125rem;
    width: 2.125rem;
    background-size: 1.5rem 1.5rem;
  }
}
.carousel-inner .professional-header-btn-wrap .button.header-fix {
  font-weight: normal;
  clear: none;
  margin: 0;
  color: #FFFFFF;
  width: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 2rem;
  padding-right: 3.5rem !important;
  float: right !important;
}
.carousel-inner .professional-header-btn-wrap .button.header-fix.mrg-right {
  margin-right: 1rem !important;
}
.carousel-inner .professional-header-btn-wrap .button.header-fix .arrow {
  position: absolute;
  bottom: 0.6875rem;
  right: 0.6875rem;
  border: 2px #FFFFFF solid;
  height: 1.825rem;
  width: 1.825rem;
  border-radius: 50%;
  background-image: url("../../../images/professionals/down-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
}

.slide-description {
  min-height: auto !important;
  margin-bottom: 1.5rem;
  font-size: 2.125rem !important;
}
.slide-description .upper {
  display: inline;
  text-transform: uppercase;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  .slide-description {
    font-size: 1.5rem !important;
    margin-bottom: 0.5rem;
  }
}

#contentWrapper {
  margin-bottom: 0px;
  padding-bottom: 100px;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper {
    padding-bottom: 0;
  }
}
#contentWrapper .academy {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  #contentWrapper .academy h2 br {
    display: none !important;
  }
}
#contentWrapper .academy header {
  margin: 2rem 0 2rem 0;
  padding-left: 3.6%;
}
#contentWrapper .academy header h1 {
  display: inline-block;
}
#contentWrapper .academy header img {
  display: inline-block;
  width: 146px;
  vertical-align: middle;
}
#contentWrapper .academy header:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}
#contentWrapper .academy h2 {
  font-family: SourceSansProSemibold, sans-serif;
  color: #170976;
  text-align: center;
  margin: 0 0 1rem 0;
  line-height: 2.5rem;
}
#contentWrapper .academy h2 br {
  display: block;
}
#contentWrapper .academy .whiteBox {
  background-color: #fff;
  border: 2px solid #170976;
  width: 86.4%;
  margin: 0 auto;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 480px) {
  #contentWrapper .academy .whiteBox {
    width: 100%;
  }
}
#contentWrapper .academy .whiteBox .clock {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
}
#contentWrapper .academy .whiteBox h3 {
  font-family: SourceSansProSemibold, sans-serif;
  font-size: 2rem;
  line-height: 1.8rem;
  margin: 0 0 2rem 0;
  color: #170976;
}
#contentWrapper .academy .whiteBox ul {
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}
#contentWrapper .academy .whiteBox ul li {
  float: left;
  width: 100%;
}
#contentWrapper .academy .whiteBox ul:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox {
  width: 100%;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox a {
  display: block;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox a img {
  display: block;
  height: 70px;
  margin: 0 auto;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox a.button {
  float: left;
  clear: both;
  display: block;
  margin-left: 50%;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #b98ec0;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b017b;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox a.button.header-fix {
  font-weight: normal;
  clear: none;
  margin: 0;
  color: #FFFFFF;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 2rem;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox a.button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #contentWrapper .academy .whiteBox .moduleSelect .msBox a.button {
    float: none;
    font-size: 1rem;
    text-align: center !important;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox a.buttonx {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  white-space: nowrap;
  background-color: #b98ec0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #1b017b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#contentWrapper .academy .whiteBox .moduleSelect .msBox:after {
  content: " ";
  display: block;
  float: none;
  clear: both;
}
@media screen and (min-width: 480px) {
  #contentWrapper .academy .whiteBox .moduleSelect .msBox a.buttonx {
    width: 230px;
  }
}
@media screen and (min-width: 768px) {
  #contentWrapper .academy .whiteBox .moduleSelect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    margin: 0 auto;
    position: relative;
    left: -10px;
  }
  #contentWrapper .academy .whiteBox .moduleSelect .msBox {
    width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #contentWrapper .academy .whiteBox .moduleSelect .msBox a.buttonx {
    width: 250px;
    font-size: 1.375rem;
  }
}
#contentWrapper .sec-0 .inner {
  padding: 2.875rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#contentWrapper .sec-0 .inner .button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 100%;
  color: #270786;
  text-transform: uppercase;
  background-color: #b98ec0;
  border-radius: 2.375rem;
  padding: 1.25rem 4.75rem 1.25rem 1.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#contentWrapper .sec-0 .inner .button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
#contentWrapper .sec-0 .inner .button .arrow {
  position: absolute;
  bottom: 0.6875rem;
  right: 0.6875rem;
  border: 2px #FFFFFF solid;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
  background-image: url("../../../images/professionals/down-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 2.5rem 2.5rem;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-0 .inner .button {
    font-size: 1.25rem;
    border-radius: 1.875rem;
    padding: 1.25rem 3.75rem 1.25rem 1.25rem;
  }
  #contentWrapper .sec-0 .inner .button .arrow {
    height: 2.125rem;
    width: 2.125rem;
    background-size: 1.5rem 1.5rem;
  }
}
#contentWrapper .sec-0 .inner .button.header-fix {
  font-weight: normal;
  clear: none;
  margin: 0;
  color: #FFFFFF;
  width: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 2rem;
  padding-right: 3.5rem !important;
  float: right !important;
}
#contentWrapper .sec-0 .inner .button.header-fix.mrg-right {
  margin-right: 1rem !important;
}
#contentWrapper .sec-0 .inner .button.header-fix .arrow {
  position: absolute;
  bottom: 0.6875rem;
  right: 0.6875rem;
  border: 2px #FFFFFF solid;
  height: 1.825rem;
  width: 1.825rem;
  border-radius: 50%;
  background-image: url("../../../images/professionals/down-arrow.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.2rem 1.2rem;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-0 .columns:first-of-type .inner {
    padding-bottom: 0;
  }
}
#contentWrapper .sec-1 {
  background-color: #f9fafd;
  position: relative;
}
#contentWrapper .sec-1.video-section {
  background-color: #dcc5df;
}
#contentWrapper .sec-1 .inner {
  float: left;
  clear: both;
  width: 100%;
  padding: 3.125rem 5rem 0 5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-1 .inner {
    padding: 1.75rem;
  }
}
#contentWrapper .sec-1 .inner .divide {
  position: absolute;
  left: 0;
  top: 3.125rem;
  bottom: 3.125rem;
  width: 3px;
  height: auto;
  background: #dac4de;
  background: -webkit-gradient(linear, left top, left bottom, from(#dac4de), to(#fdfcfe));
  background: -o-linear-gradient(top, #dac4de 0%, #fdfcfe 100%);
  background: linear-gradient(to bottom, #dac4de 0%, #fdfcfe 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#dac4de", endColorstr="#fdfcfe",GradientType=0 );
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-1 .inner .divide {
    left: 1.75rem;
    right: 1.75rem;
    top: 0;
    bottom: auto;
    width: auto;
    height: 3px;
    background: #dac4de;
    background: -webkit-gradient(linear, left top, right top, from(#dac4de), to(#fdfcfe));
    background: -o-linear-gradient(left, #dac4de 0%, #fdfcfe 100%);
    background: linear-gradient(to right, #dac4de 0%, #fdfcfe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#dac4de", endColorstr="#fdfcfe",GradientType=1 );
  }
}
#contentWrapper .sec-1 h1 {
  float: left;
  clear: both;
  width: 100%;
  text-align: left;
  font-size: 1.75rem;
  line-height: 1.875rem;
  font-weight: bold;
  margin-top: 0;
}
#contentWrapper .sec-1 .w100 {
  width: 100%;
}
#contentWrapper .sec-1 ul {
  float: left;
  clear: both;
  margin-top: 2.5rem;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-1 ul {
    padding-left: 1.75rem;
  }
}
#contentWrapper .sec-1 ul li {
  font-size: 1.125rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}
#contentWrapper .sec-1 a.button {
  float: left;
  clear: both;
  display: block;
  margin-left: 50%;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #b98ec0;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b017b;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#contentWrapper .sec-1 a.button.header-fix {
  font-weight: normal;
  clear: none;
  margin: 0;
  color: #FFFFFF;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 2rem;
}
#contentWrapper .sec-1 a.button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #contentWrapper .sec-1 a.button {
    float: none;
    font-size: 1rem;
    text-align: center !important;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
#contentWrapper .sec-1 .download {
  display: block;
  float: left;
  clear: both;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 240px;
  text-align: center;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#contentWrapper .sec-1 .download p {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.875rem;
}
#contentWrapper .sec-1 .download:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
#contentWrapper .sec-1 .footnotes {
  padding-bottom: 1.625rem;
}
#contentWrapper .sec-1 .footnotes p {
  padding: 0 5rem;
  margin: 0;
  color: #000000;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-weight: bold;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-1 .footnotes p {
    padding: 0 1.75rem;
  }
}
#contentWrapper .sec-1 .extra-fill {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  height: 100px;
  background-color: #f9fafd;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-1 .extra-fill {
    display: none;
  }
}
#contentWrapper .sec-1 .objective-wrap {
  padding: 3.125rem 5rem 5rem 0;
  padding-top: 163px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width:769px) and (max-width: 960px) {
  #contentWrapper .sec-1 .objective-wrap {
    padding-top: 142px;
  }
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-1 .objective-wrap {
    padding: 2rem 2rem 2rem 2rem;
  }
}
#contentWrapper .sec-1 .objective-wrap .inner {
  padding: 2rem;
  border: 3px solid #1b017b;
}
#contentWrapper .sec-1 .objective-wrap .inner h1 {
  font-weight: bold;
  color: #1b017b;
}
#contentWrapper .sec-1 .objective-wrap .inner ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
#contentWrapper .sec-1 .objective-wrap .inner ul li span {
  position: relative;
  left: -10px;
}
#contentWrapper .sec-2 {
  background-color: #e5f3fe;
}
#contentWrapper .sec-2 .response p {
  text-align: center;
  margin-bottom: 1.75rem;
}
#contentWrapper .sec-2 a.button {
  float: left;
  clear: both;
  display: block;
  margin-left: 50%;
  will-change: all;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #b98ec0;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #1b017b;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#contentWrapper .sec-2 a.button.header-fix {
  font-weight: normal;
  clear: none;
  margin: 0;
  color: #FFFFFF;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border-radius: 2rem;
}
#contentWrapper .sec-2 a.button:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #contentWrapper .sec-2 a.button {
    float: none;
    font-size: 1rem;
    text-align: center !important;
    margin-left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
#contentWrapper .sec-2 .inner {
  width: 100%;
  padding: 1.75rem 5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-2 .inner {
    padding: 1.75rem;
  }
}
#contentWrapper .sec-2 .inner h1 {
  color: #0898f2;
  font-size: 1.75rem;
  line-height: 1.875rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
}
#contentWrapper .sec-2 .formRow {
  margin-bottom: 1rem;
}
#contentWrapper .sec-2 .formRow label {
  font-size: 1rem;
}
#contentWrapper .sec-2 .formRow .input {
  width: 100%;
  border: 1px #dee5e9 solid;
  padding: 0.3rem 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-2 .formRow .input {
    margin-top: 0.5rem;
  }
}
#contentWrapper .sec-2 .formRow .input.short {
  width: 150px;
  float: right;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-2 .formRow .input.short {
    float: left;
  }
}
#contentWrapper .sec-2 .formRow .chkbox {
  float: right;
}
@media only screen and (min-width:0) and (max-width: 768px) {
  #contentWrapper .sec-2 .formRow .chkbox {
    margin-top: 0.5rem;
    float: left;
  }
}
#contentWrapper .sec-2 .formRow.submitRow .btnSubmit {
  float: right;
  display: block;
  background-color: #77c6f8;
  color: #1b017b;
  font-size: 1.375rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 2rem;
  -webkit-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#contentWrapper .sec-2 .formRow.submitRow .btnSubmit:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
@media only screen and (min-width:0) and (max-width: 480px) {
  #contentWrapper .sec-2 .formRow.submitRow .btnSubmit {
    float: none;
    text-align: center !important;
  }
}
#contentWrapper .sec-2 .formRow small {
  display: inline-block;
  padding-top: 0.5rem;
  color: #733f98;
}
#contentWrapper .sec-2 .request-form .inner h1 {
  text-align: left;
}
#contentWrapper .sec-2 .useful-downloads {
  background-color: #dcdaef;
}
@media screen and (min-width: 768px) {
  #contentWrapper .sec-2 .useful-downloads {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1440px) {
  #contentWrapper .sec-2 .useful-downloads {
    padding-bottom: 4rem;
  }
}
#contentWrapper .sec-2 .useful-downloads h1 {
  color: #6e3d97;
}
#contentWrapper .sec-2 .useful-downloads p {
  font-size: 1.375rem;
  line-height: 1.375rem;
}
#contentWrapper .sec-2 .useful-downloads .inner {
  text-align: center;
  height: 100%;
}

.videoFrame {
  position: relative;
  padding-top: 56%;
}
.videoFrame iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}