@charset "UTF-8";abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0
}

input,select {
    vertical-align: middle
}

.hidden {
    display: none!important
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .hidden-small {
        display:none!important
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .hidden-medium {
        display:none!important
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .hidden-large {
        display:none!important
    }
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .hidden-xlarge {
        display:none!important
    }
}

@media only screen and (min-width: 1441px) and (max-width:99999999em) {
    .hidden-xxlarge {
        display:none!important
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .vis-small {
        display:block!important
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .vis-medium {
        display:block!important
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .vis-large {
        display:block!important
    }
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .vis-xlarge {
        display:block!important
    }
}

@media only screen and (min-width: 1441px) and (max-width:99999999em) {
    .vis-xxlarge {
        display:block!important
    }
}

@media only screen and (min-width: 0) and (max-width:960px) {
    .hidden-sm-lg {
        display:none!important
    }
}

@media only screen and (min-width: 0) and (max-width:960px) {
    .vis-sm-lg {
        display:block!important
    }
}

@media screen and (min-width: 0) {
    head {
        font-family:"usn-xsmall 0"
    }

    body:after {
        content: "usn-xsmall - min-width: 0"
    }
}

@media screen and (min-width: 300px) {
    head {
        font-family:"usn-small 300px"
    }

    body:after {
        content: "usn-small - min-width: 300px"
    }
}

@media screen and (min-width: 481px) {
    head {
        font-family:"usn-medium 481px"
    }

    body:after {
        content: "usn-medium - min-width: 481px"
    }
}

@media screen and (min-width: 769px) {
    head {
        font-family:"usn-large 769px"
    }

    body:after {
        content: "usn-large - min-width: 769px"
    }
}

@media screen and (min-width: 961px) {
    head {
        font-family:"usn-xlarge 961px"
    }

    body:after {
        content: "usn-xlarge - min-width: 961px"
    }
}

@media screen and (min-width: 1441px) {
    head {
        font-family:"usn-xxlarge 1441px"
    }

    body:after {
        content: "usn-xxlarge - min-width: 1441px"
    }
}

head {
    clear: both
}

head title {
    font-family: "usn-xsmall 0, usn-small 300px, usn-medium 481px, usn-large 769px, usn-xlarge 961px, usn-xxlarge 1441px"
}

body:after {
    display: none
}

[data-usn-if] {
    display: none
}

.ml0 {
    margin-left: 0em!important
}

.mt0 {
    margin-top: 0em!important
}

.pt0 {
    padding-top: 0em!important
}

.mb0 {
    margin-bottom: 0em!important
}

.pb0 {
    padding-bottom: 0em!important
}

.mr0 {
    margin-right: 0em!important
}

.ml1 {
    margin-left: 1em!important
}

.mt1 {
    margin-top: 1em!important
}

.pt1 {
    padding-top: 1em!important
}

.mb1 {
    margin-bottom: 1em!important
}

.pb1 {
    padding-bottom: 1em!important
}

.mr1 {
    margin-right: 1em!important
}

.ml2 {
    margin-left: 2em!important
}

.mt2 {
    margin-top: 2em!important
}

.pt2 {
    padding-top: 2em!important
}

.mb2 {
    margin-bottom: 2em!important
}

.pb2 {
    padding-bottom: 2em!important
}

.mr2 {
    margin-right: 2em!important
}

.ml3 {
    margin-left: 3em!important
}

.mt3 {
    margin-top: 3em!important
}

.pt3 {
    padding-top: 3em!important
}

.mb3 {
    margin-bottom: 3em!important
}

.pb3 {
    padding-bottom: 3em!important
}

.mr3 {
    margin-right: 3em!important
}

.ml4 {
    margin-left: 4em!important
}

.mt4 {
    margin-top: 4em!important
}

.pt4 {
    padding-top: 4em!important
}

.mb4 {
    margin-bottom: 4em!important
}

.pb4 {
    padding-bottom: 4em!important
}

.mr4 {
    margin-right: 4em!important
}

.ml5 {
    margin-left: 5em!important
}

.mt5 {
    margin-top: 5em!important
}

.pt5 {
    padding-top: 5em!important
}

.mb5 {
    margin-bottom: 5em!important
}

.pb5 {
    padding-bottom: 5em!important
}

.mr5 {
    margin-right: 5em!important
}

#noIE {
    display: none
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none
}

.underline {
    text-decoration: underline
}

.tac {
    text-align: center
}

.tar {
    text-align: right
}

.tint-primary {
    color: #214da4
}

.tint-secondary {
    color: #545454
}

.tint-tertiary {
    color: #193441
}

.no-scrollbar::-webkit-scrollbar {
    display: none
}

.noscroll {
    overflow: hidden
}

.w100 {
    width: 100%
}

.uc {
    text-transform: uppercase
}

.cf {
    float: left;
    clear: both
}

h1,h2,h3,p {
    margin: 1rem 0 0 0;
    color: #214da4;
    font-family: "Open Sans",sans-serif;
    font-weight: normal
}

a:focus,button:focus {
    outline: 0
}

h1 {
    font-size: 30px
}

img {
    -ms-interpolation-mode: bicubic
}

body,html {
    width: 100%;
    height: 100%;
    font-size: 16px
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    body,html {
        font-size:12px
    }
}

body {
    font-family: "Open Sans",sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    background-color: #ffffff;
    overflow-x: hidden
}

body #wrapper {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    position: relative
}

body #mobile-white-out {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
    z-index: 10000
}

sup {
    vertical-align: super;
    font-size: 8px
}

a:link,a:visited {
    color: #214da4
}

a:hover,a:visited:hover {
    color: #2a61ce
}

.full-height {
    height: 100%
}

.tbl {
    display: table;
    width: 100%;
    height: 100%
}

.tbl .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.tbl .inner .blk {
    display: block
}


/* SCSS Imports from common */
@import "common/row";
@import "common/header";
@import "common/footer";
@import "common/carousel";
@import "common/testimonial";
@import "common/info";
@import "common/mumsnet";
@import "common/animation";
@import "common/slick-slider";
@import "common/mediaplayer";


.plainText {
    padding: 2rem 0
}

.plainText h2 {
    font-weight: bold
}

.plainText ul {
    padding-left: 2rem
}

.plainText ul li {
    color: #214da4
}

.plainText table tr th {
    text-align: left;
    color: #214da4
}

.plainText table tr td {
    color: #214da4
}

.plainText a {
    text-decoration: underline
}

.disclaimer {
    font-size: 0.9rem;
    line-height: 0.9rem
}

#cookie-table {
    border: 1px #214da4 solid
}

#cookie-table tr td,#cookie-table tr th {
    padding: 10px;
    @includer border-box();border: 1px #214da4 solid
}

@media only screen and (min-width: 0) and (max-width:768px) {
    #cookie-table tr td,#cookie-table tr th {
        font-size:14px;
        line-height: 16px
    }
}

[v-cloak]>* {
    display: none
}




#jp_video_0 {
    cursor: pointer
}


.cookie-disclaimer {
    float: left;
    width: 100%;
    background-color: #1e3a6f;
    color: #FFFFFF;
    z-index: 1010;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    max-height: 0;
    overflow: hidden;
    orphans: 3;
    widows: 3
}

.cookie-disclaimer.shown {
    max-height: 150px;
    padding: 20px 60px
}

.cookie-disclaimer a {
    color: #FFFFFF;
    text-decoration: underline
}

.cookie-disclaimer .btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer
}

.cookie-disclaimer .btn-close line {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10
}
