/*
CSS animation / transitions / keyframes
/resources/assets/scss/main/common/animation.scss
imported into /resources/assets/scss/main/styles.scss
*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.slow {
    animation-duration: 1.5s;
    animation-fill-mode: both
}

.slower {
    animation-duration: 2s;
    animation-fill-mode: both
}

.slowest {
    animation-duration: 3s;
    animation-fill-mode: both
}

.delay-250 {
    animation-delay: 0.25s
}

.delay-500 {
    animation-delay: 0.5s
}

.delay-750 {
    animation-delay: 0.75s
}

.delay-1000 {
    animation-delay: 1s
}

.delay-1250 {
    animation-delay: 1.25s
}

.delay-1500 {
    animation-delay: 1.5s
}

.delay-1750 {
    animation-delay: 1.75s
}

.delay-2000 {
    animation-delay: 2s
}

.delay-2500 {
    animation-delay: 2.5s
}

.delay-2000 {
    animation-delay: 2s
}

.delay-2500 {
    animation-delay: 2.5s
}

.delay-3000 {
    animation-delay: 3s
}

.delay-3500 {
    animation-delay: 3.5s
}

.bounceInDown,.bounceInLeft,.bounceInRight,.bounceInUp {
    opacity: 0;
    transform: translateX(400px)
}

.fadeInDown,.fadeInLeft,.fadeInRight,.fadeInUp {
    opacity: 0;
    transform: translateX(400px)
}

.flipInX,.flipInY,.rollIn,.rotateDownUpRight,.rotateIn,.rotateInDownLeft,.rotateInUpLeft,.rotateInUpRight {
    opacity: 0
}

.lightSpeedInLeft,.lightSpeedInRight {
    opacity: 0;
    transform: translateX(400px)
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3)
    }

    50% {
        opacity: 1;
        transform: scale(1.05)
    }

    70% {
        transform: scale(0.9)
    }

    to {
        transform: scale(1)
    }
}

.bounceIn.go {
    animation-name: bounceIn
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(400px)
    }

    60% {
        transform: translateX(-30px)
    }

    80% {
        transform: translateX(10px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.bounceInRight.go {
    animation-name: bounceInRight
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px)
    }

    60% {
        transform: translateX(30px)
    }

    80% {
        transform: translateX(-10px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.bounceInLeft.go {
    animation-name: bounceInLeft
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(400px)
    }

    60% {
        transform: translateY(-30px)
    }

    80% {
        transform: translateY(10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.bounceInUp.go {
    animation-name: bounceInUp
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-400px)
    }

    60% {
        transform: translateY(30px)
    }

    80% {
        transform: translateY(-10px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.bounceInDown.go {
    animation-name: bounceInDown
}

@keyframes fadeIn {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=0);
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0
    }

    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        display: block
    }
}

.fadeIn {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0
}

.fadeIn.go {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    animation-name: fadeIn
}

@keyframes growIn {
    0% {
        transform: scale(0.2);
        opacity: 0
    }

    50% {
        transform: scale(1.2)
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.growIn {
    transform: scale(0.2);
    opacity: 0
}

.growIn.go {
    animation-name: growIn
}

@keyframes shake {
    0%,to {
        transform: translateX(0)
    }

    10%,30%,50%,70%,90% {
        transform: translateX(-10px)
    }

    20%,40%,60%,80% {
        transform: translateX(10px)
    }
}

.shake.go {
    animation-name: shake
}

@keyframes shakeUp {
    0%,to {
        transform: translateY(0)
    }

    10%,30%,50%,70%,90% {
        transform: translateY(-10px)
    }

    20%,40%,60%,80% {
        transform: translateY(10px)
    }
}

.shakeUp.go {
    animation-name: shakeUp
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-400px)
    }

    50% {
        opacity: 0.3
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeft {
    opacity: 0;
    transform: translateX(-400px)
}

.fadeInLeft.go {
    animation-name: fadeInLeft
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(400px)
    }

    50% {
        opacity: 0.3
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRight {
    opacity: 0;
    transform: translateX(400px)
}

.fadeInRight.go {
    animation-name: fadeInRight
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(400px)
    }

    50% {
        opacity: 0.3
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUp {
    opacity: 0;
    transform: translateY(400px)
}

.fadeInUp.go {
    animation-name: fadeInUp
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-400px)
    }

    50% {
        opacity: 0.3
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInDown {
    opacity: 0;
    transform: translateY(-400px)
}

.fadeInDown.go {
    animation-name: fadeInDown
}

@keyframes rotateIn {
    0% {
        transform-origin: center center;
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1
    }
}

.rotateIn.go {
    animation-name: rotateIn
}

@keyframes rotateInUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(90deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1
    }
}

.rotateInUpLeft.go {
    animation-name: rotateInUpLeft
}

@keyframes rotateInDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1
    }
}

.rotateInDownLeft.go {
    animation-name: rotateInDownLeft
}

@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(-90deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1
    }
}

.rotateInUpRight.go {
    animation-name: rotateInUpRight
}

@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(90deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1
    }
}

.rotateInDownRight.go {
    animation-name: rotateInDownRight
}

@keyframes rollIn {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg)
    }

    to {
        opacity: 1;
        transform: translateX(0px) rotate(0deg)
    }
}

.rollIn.go {
    animation-name: rollIn
}

@keyframes wiggle {
    0% {
        transform: skewX(9deg)
    }

    10% {
        transform: skewX(-8deg)
    }

    20% {
        transform: skewX(7deg)
    }

    30% {
        transform: skewX(-6deg)
    }

    40% {
        transform: skewX(5deg)
    }

    50% {
        transform: skewX(-4deg)
    }

    60% {
        transform: skewX(3deg)
    }

    70% {
        transform: skewX(-2deg)
    }

    80% {
        transform: skewX(1deg)
    }

    90% {
        transform: skewX(0deg)
    }

    to {
        transform: skewX(0deg)
    }
}

.wiggle.go {
    animation-name: wiggle;
    animation-timing-function: ease-in
}

@keyframes swing {
    20% {
        transform: rotate(15deg)
    }

    40% {
        transform: rotate(-10deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(0deg)
    }
}

.swing.go {
    transform-origin: top center;
    animation-name: swing
}

@keyframes tada {
    0% {
        transform: scale(1)
    }

    10%,20% {
        transform: scale(0.9) rotate(-3deg)
    }

    30%,50%,70%,90% {
        transform: scale(1.1) rotate(3deg)
    }

    40%,60%,80% {
        transform: scale(1.1) rotate(-3deg)
    }

    to {
        transform: scale(1) rotate(0)
    }
}

.tada.go {
    animation-name: tada
}

@keyframes wobble {
    0% {
        transform: translateX(0%)
    }

    15% {
        transform: translateX(-25%) rotate(-5deg)
    }

    30% {
        transform: translateX(20%) rotate(3deg)
    }

    45% {
        transform: translateX(-15%) rotate(-3deg)
    }

    60% {
        transform: translateX(10%) rotate(2deg)
    }

    75% {
        transform: translateX(-5%) rotate(-1deg)
    }

    to {
        transform: translateX(0%)
    }
}

.wobble.go {
    animation-name: wobble
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

.pulse.go {
    animation-name: pulse
}

@keyframes lightSpeedInRight {
    0% {
        transform: translateX(100%) skewX(-30deg);
        opacity: 0
    }

    60% {
        transform: translateX(-20%) skewX(30deg);
        opacity: 1
    }

    80% {
        transform: translateX(0%) skewX(-15deg);
        opacity: 1
    }

    to {
        transform: translateX(0%) skewX(0deg);
        opacity: 1
    }
}

.lightSpeedInRight.go {
    animation-name: lightSpeedInRight;
    animation-timing-function: ease-out
}

@keyframes lightSpeedInLeft {
    0% {
        transform: translateX(-100%) skewX(30deg);
        opacity: 0
    }

    60% {
        transform: translateX(20%) skewX(-30deg);
        opacity: 1
    }

    80% {
        transform: translateX(0%) skewX(15deg);
        opacity: 1
    }

    to {
        transform: translateX(0%) skewX(0deg);
        opacity: 1
    }
}

.lightSpeedInLeft.go {
    animation-name: lightSpeedInLeft;
    animation-timing-function: ease-out
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out
    }

    40% {
        transform: perspective(400px) translateZ(150px) rotateY(170deg);
        animation-timing-function: ease-out
    }

    50% {
        transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
        animation-timing-function: ease-in
    }

    80% {
        transform: perspective(400px) rotateY(360deg) scale(0.95);
        animation-timing-function: ease-in
    }

    to {
        transform: perspective(400px) scale(1);
        animation-timing-function: ease-in
    }
}

.flip.go {
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: flip;
    backface-visibility: visible!important;
    animation-name: flip
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotateX(-10deg)
    }

    70% {
        transform: perspective(400px) rotateX(10deg)
    }

    to {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

.flipInX.go {
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: flipInX;
    backface-visibility: visible!important;
    animation-name: flipInX
}

@keyframes flipInY {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotateY(-10deg)
    }

    70% {
        transform: perspective(400px) rotateY(10deg)
    }

    to {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }
}

.flipInY.go {
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    backface-visibility: visible!important;
    animation-name: flipInY
}

@keyframes bounceOut {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(0.95)
    }

    50% {
        opacity: 1;
        transform: scale(1.1)
    }

    to {
        opacity: 0;
        transform: scale(0.3)
    }
}

.bounceOut.goAway {
    animation-name: bounceOut
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0)
    }

    20% {
        opacity: 1;
        transform: translateY(20px)
    }

    to {
        opacity: 0;
        transform: translateY(-2000px)
    }
}

.bounceOutUp.goAway {
    animation-name: bounceOutUp
}

@keyframes bounceOutDown {
    0% {
        transform: translateY(0)
    }

    20% {
        opacity: 1;
        transform: translateY(-20px)
    }

    to {
        opacity: 0;
        transform: translateY(2000px)
    }
}

.bounceOutDown.goAway {
    animation-name: bounceOutDown
}

@keyframes bounceOutLeft {
    0% {
        transform: translateX(0)
    }

    20% {
        opacity: 1;
        transform: translateX(20px)
    }

    to {
        opacity: 0;
        transform: translateX(-2000px)
    }
}

.bounceOutLeft.goAway {
    animation-name: bounceOutLeft
}

@keyframes bounceOutRight {
    0% {
        transform: translateX(0)
    }

    20% {
        opacity: 1;
        transform: translateX(-20px)
    }

    to {
        opacity: 0;
        transform: translateX(2000px)
    }
}

.bounceOutRight.goAway {
    animation-name: bounceOutRight
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.fadeOut.goAway {
    animation-name: fadeOut
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-2000px)
    }
}

.fadeOutUp.goAway {
    animation-name: fadeOutUp
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(2000px)
    }
}

.fadeOutDown.goAway {
    animation-name: fadeOutDown
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(-2000px)
    }
}

.fadeOutLeft.goAway {
    animation-name: fadeOutLeft
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(2000px)
    }
}

.fadeOutRight.goAway {
    animation-name: fadeOutRight
}

@keyframes flipOutX {
    0% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

.flipOutX.goAway {
    -webkit-animation-name: flipOutX;
    -webkit-backface-visibility: visible!important;
    animation-name: flipOutX;
    backface-visibility: visible!important
}

@keyframes flipOutY {
    0% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1
    }

    to {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }
}

.flipOutY {
    -webkit-backface-visibility: visible!important;
    -webkit-animation-name: flipOutY;
    backface-visibility: visible!important;
    animation-name: flipOutY
}

@keyframes lightSpeedOutRight {
    0% {
        transform: translateX(0%) skewX(0deg);
        opacity: 1
    }

    to {
        transform: translateX(100%) skewX(-30deg);
        opacity: 0
    }
}

.lightSpeedOutRight.goAway {
    animation-name: lightSpeedOutRight;
    animation-timing-function: ease-in
}

@keyframes lightSpeedOutLeft {
    0% {
        transform: translateX(0%) skewX(0deg);
        opacity: 1
    }

    to {
        transform: translateX(-100%) skewX(30deg);
        opacity: 0
    }
}

.lightSpeedOutLeft.goAway {
    animation-name: lightSpeedOutLeft;
    animation-timing-function: ease-in
}

@keyframes rotateOut {
    0% {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1
    }

    to {
        transform-origin: center center;
        transform: rotate(200deg);
        opacity: 0
    }
}

.rotateOut.goAway {
    animation-name: rotateOut
}

@keyframes rotateOutUpLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1
    }

    to {
        -transform-origin: left bottom;
        -transform: rotate(-90deg);
        opacity: 0
    }
}

.rotateOutUpLeft.goAway {
    animation-name: rotateOutUpLeft
}

@keyframes rotateOutDownLeft {
    0% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1
    }

    to {
        transform-origin: left bottom;
        transform: rotate(90deg);
        opacity: 0
    }
}

.rotateOutDownLeft.goAway {
    animation-name: rotateOutDownLeft
}

@keyframes rotateOutUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate(0);
        opacity: 1
    }

    to {
        transform-origin: right bottom;
        transform: rotate(90deg);
        opacity: 0
    }
}

.rotateOutUpRight.goAway {
    animation-name: rotateOutUpRight
}

@keyframes rollOut {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg)
    }

    to {
        opacity: 0;
        transform: translateX(100%) rotate(120deg)
    }
}

.rollOut.goAway {
    animation-name: rollOut
}

@keyframes fadeInUpShort {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInUpShort {
    opacity: 0;
    transform: translateY(20px)
}

.fadeInUpShort.go {
    animation-name: fadeInUpShort
}

@keyframes fadeInDownShort {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.fadeInDownShort {
    opacity: 0;
    transform: translateY(-20px)
}

.fadeInDownShort.go {
    animation-name: fadeInDownShort
}

@keyframes fadeInRightShort {
    0% {
        opacity: 0;
        transform: translateX(20px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRightShort {
    opacity: 0;
    transform: translateX(20px)
}

.fadeInRightShort.go {
    animation-name: fadeInRightShort
}

@keyframes fadeInLeftShort {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeftShort {
    opacity: 0;
    transform: translateX(-20px)
}

.fadeInLeftShort.go {
    animation-name: fadeInLeftShort
}
