/*
page header carousel
/resources/assets/scss/main/common/carousel.scss
imported into /resources/assets/scss/main/styles.scss
*/


.carousel-footer,.carousel-header {
    width: 100%;
    height: 865px;
    overflow: hidden;
    z-index: 1000
}

.carousel-footer .bg,.carousel-header .bg {
    height: 865px;
    box-sizing: border-box
}

.carousel-footer .bg,.carousel-header .bg {
    position: relative;
    background-position: 50% bottom;
    background-repeat: no-repeat;
    background-size: cover
}

.carousel-footer .bg .btn,.carousel-header .bg .btn {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 75px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #1e3a6f;
    border: 2px #FFFFFF solid;
    box-shadow: 0 0 3rem 0 black;
    transition: all 0.2s linear;
    will-change: transform;
    transform: translateX(-50%)
}

.carousel-footer .bg .btn:hover,.carousel-header .bg .btn:hover {
    background-color: transparent;
    color: #FFFFFF
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .carousel-footer .bg .btn,.carousel-header .bg .btn {
        bottom:50px
    }
}

@media only screen and (min-width: 481px) and (max-width:960px) {
    .carousel-footer .bg .btn,.carousel-header .bg .btn {
        font-size:1rem;
        bottom: 35px
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .carousel-footer .bg .btn,.carousel-header .bg .btn {
        font-size:0.8rem;
        bottom: 35px
    }
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .carousel-footer,.carousel-header {
        height:640px
    }

    .carousel-footer .bg,.carousel-header .bg {
        height: 640px
    }
}

@media only screen and (min-width: 481px) and (max-width:960px) {
    .carousel-footer,.carousel-header {
        height:450px
    }

    .carousel-footer .bg,.carousel-header .bg {
        height: 450px
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .carousel-footer,.carousel-header {
        height:350px
    }

    .carousel-footer .bg,.carousel-header .bg {
        height: 350px
    }
}

.carousel-footer .overlay,.carousel-header .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2)
}

.arrow-block {
    position: relative;
    height: 50px;
    z-index: 5000
}

.arrow-block .arrow-outer {
    position: absolute;
    left: 50%;
    will-change: transform;
    transform: translateX(-50%) translateY(-50%);
    width: 90px;
    height: 90px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.25);
    overflow: visible
}

.arrow-block .arrow-outer .arrow {
    cursor: pointer
}

.arrow-block .arrow-outer .arrow circle {
    fill: #214da4
}

.arrow-block .arrow-outer .arrow path {
    fill: #FFFFFF
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .arrow-block {
        height:28.125px
    }

    .arrow-block .arrow-outer {
        width: 56.25px;
        height: 56.25px;
        border-radius: 28.125px
    }
}

@media only screen and (min-width: 0) and (max-width:960px) {
    .arrow-block {
        height:25px
    }

    .arrow-block .arrow-outer {
        width: 50px;
        height: 50px;
        border-radius: 25px
    }
}

body.csWidgetModal-open .arrow-block {
    display: none
}

.carousel-footer {
    float: left;
    clear: both
}

.carousel-footer.no-hide {
    overflow: visible;
    position: relative
}

.carousel-footer.no-hide .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.carousel-footer .bg {
    background-position: center top
}

.carousel-footer .text {
    position: absolute;
    left: 5rem;
    top: 5rem;
    width: 30%
}

.carousel-footer .text h1 {
    font-size: 5.5rem;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 5rem #000000;
    margin: 0
}

.carousel-footer .text h1 span {
    font-weight: normal
}

.carousel-footer .text p {
    font-size: 3rem;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 0 0 3rem #000000
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .carousel-footer .text {
        left:2.5rem;
        top: 2.5rem
    }

    .carousel-footer .text h1 {
        font-size: 2.75rem;
        text-shadow: 0 0 2.75rem #000000
    }

    .carousel-footer .text p {
        font-size: 1.5rem;
        text-shadow: 0 0 1.5rem #000000
    }
}

@media only screen and (min-width: 0) and (max-width:768px) {
    .carousel-footer .text {
        left:1rem;
        top: 1rem
    }

    .carousel-footer .text h1 {
        font-size: 2rem;
        text-shadow: 0 0 2rem #000000
    }

    .carousel-footer .text p {
        font-size: 1rem;
        text-shadow: 0 0 1rem #000000
    }
}

.carousel-footer .middle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.625rem;
    will-change: transform;
    transform: translateX(-50%) translateY(-50%);
    width: 100%
}

.carousel-footer .middle h1 {
    float: left;
    clear: both;
    width: 100%;
    color: #FFFFFF;
    text-shadow: 0 0 3rem #000000;
    font-size: 6rem;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold
}

.carousel-footer .middle h1 span {
    font-weight: normal
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .carousel-footer .middle h1 {
        font-size:3rem;
        line-height: 100%
    }
}

@media only screen and (min-width: 0) and (max-width:768px) {
    .carousel-footer .middle h1 {
        font-size:1.8rem;
        line-height: 100%
    }
}

.carousel-footer .middle p.link {
    float: left;
    clear: both;
    width: 100%;
    height: 2.5rem;
    position: relative
}

.carousel-footer .middle p.link a.quiz {
    display: block;
    position: absolute;
    left: 50%;
    top: 1rem;
    will-change: transform;
    transform: translateX(-50%);
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #1e3a6f;
    background-color: #FFFFFF;
    border: 2px #FFFFFF solid;
    transition: all 0.2s linear
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .carousel-footer .middle p.link a.quiz {
        font-size:1rem;
        padding: 0.5rem 1rem
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .carousel-footer .middle p.link a.quiz {
        font-size:1rem;
        padding: 0.5rem 1rem
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .carousel-footer .middle p.link a.quiz {
        font-size:0.9rem;
        padding: 0.5rem 1rem
    }
}

.carousel-footer .middle p.link a.quiz:hover {
    background: transparent;
    color: #FFFFFF
}

.carousel-footer .bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e3a6f;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.75rem;
    line-height: 100%;
    padding: 1.75rem 0;
    font-weight: bold
}

.carousel-footer .bar .splitL {
    text-align: left
}

.carousel-footer .bar .splitL span {
    padding-right: 4.5rem
}

.carousel-footer .bar .splitR {
    text-align: left
}

.carousel-footer .bar .splitR span {
    padding-left: 4.5rem
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .carousel-footer .bar {
        font-size:1rem;
        padding: 1rem 0
    }

    .carousel-footer .bar .splitL span {
        padding-right: 2.25rem
    }

    .carousel-footer .bar .splitR span {
        padding-left: 2.25rem
    }
}

@media only screen and (min-width: 0) and (max-width:768px) {
    .carousel-footer .bar {
        font-size:10px;
        padding: 0.8rem 0
    }

    .carousel-footer .bar .splitL span {
        padding-right: 30px
    }

    .carousel-footer .bar .splitR span {
        padding-left: 30px
    }
}
