/*
page footer
/resources/assets/scss/main/common/footer.scss
imported into /resources/assets/scss/main/styles.scss
*/

footer {
    float: left;
    clear: both;
    width: 100%;
    position: relative;

    .gprx {
        clear: left;
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 10px;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        a {
            text-decoration: underline;
            color:#000;
            font-weight:bold;
        }
    }

    .social {
        position: absolute;
        top: 50%;
        right: 0;
        width: 165px;
        height: 45px;
        will-change: transform;
        transform: translateY(-50%);
        a {
            float: left;
            display: block;
            width: 45px;
            height: 45px;
            margin-left: 10px;
            img {
                float: left;
                width: 100%;
                height: 100%;
            }
        }

        @media only screen and (min-width: 0) and (max-width:768px) {
            &{
                will-change:transform;
                transform: translateY(-75%);
            }
        }
    }

    .upper {
        float: left;
        clear: both;
        width: 100%;
        background: #e1f2fa url(/images/footer-wave.jpg) no-repeat bottom right;
        background-size: cover;
        padding: 2.3% 0;

        @media only screen and (min-width: 0) and (max-width:480px) {
            &{
                padding:2.3% 0 4.6% 0;
            }
        }

        @media only screen and (min-width: 0) and (max-width:768px) {
            &{
                background-size:960px 195px;
            }
        }

        h5 {
            color: #214da4;
            font-size: 1.2rem;
            font-weight: bold;
            @media only screen and (min-width: 0) and (max-width:768px) {
                &{
                    padding-top:70px;
                }
            }
        }
        ul {
            float: left;
            clear: both;
            list-style: none;
            li {
                float: left;
                clear: both;
                font-size: 1.2rem;
                margin-bottom: 2.3%;
                @media only screen and (min-width: 0) and (max-width:480px) {
                    &{
                        font-size:1rem;
                    }
                }
            }
        }
        @media only screen and (min-width: 0) and (max-width:480px) {
            &{
                .col1 {
                    margin-bottom:0;
                }
            }
        }
        .footnote {
            text-align: center;
            font-size: 1rem;
            color: #2c4ea1;
            @media only screen and (min-width: 0) and (max-width:768px) {
                &{
                    text-align:left;
                    font-size: 12px;
                }
            }
        }
    }
    .lower {
        float: left;
        clear: both;
        width: 100%;
        text-align: center;
        padding: 1.15% 0;
        background-color: #FFFFFF;
        p {
            color: #515151;
            width: 100%;
            padding: 0 20px;
            box-sizing: border-box;
            @media only screen and (min-width: 0) and (max-width:960px) {
                &{
                    font-size:0.7857rem;
                    line-height: 120%;
                }
            }
        }
    }
}



