/*
page header + desktop & mobile navigation menus
/resources/assets/scss/main/common/header.scss
imported into /resources/assets/scss/main/styles.scss
*/

#headerWrapper {
    display: block;
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    z-index: 1001;
    overflow: visible;
    zoom:1;background: #d7eaf8;
    background: linear-gradient(to right,#d7eaf8 0%,#FFFFFF 25%,#d7eaf8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7eaf8",endColorstr="#d7eaf8",GradientType=1);

    @media only screen and (min-width: 0) and (max-width:960px) {
        &{
            height:100px;
        }
    }

    .logo,.gp-recommended{
        width: 100px;
        height:100px;
        display:flex;
        align-items:center;

        img{
            width:100%;
            height:auto;
        }
        @media only screen and (min-width: 480px) {
            width: auto;
            img{
                height:72px;
                width:auto;
            }
        }

        @media only screen and (min-width: 961px) and (max-width:1440px) {
            &{
                width:132px;
                height:auto;
                margin-top: 1.15%;
                margin-bottom: 1.15%;
                img{
                    width: 100%;
                    height:auto;
                }
            }
        }
        @media only screen and (min-width:1441px) {
            &{
                margin-top: 1.15%;
                margin-bottom: 1.15%;
                width:220px;
                height:134px;
                img{
                    height:134px;
                }
            }
        }
    }

    .logo{
        float: left;
        margin-left: 2.3%;
    }
    .gp-recommended {
        float: right;
        margin-right: 80px;
        @media only screen and (min-width: 961px){
            &{
                margin-right: 2.3%;
            }
        }

    }

    menu.main {
        position: absolute;
        left: 2.3%;
        right: 2.3%;
        top: 50%;
        will-change: transform;
        transform: translateY(23px);
        list-style: none;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding-left: 200px;
        padding-right: 200px;
        z-index: 1000;
        margin-top: -1.25rem;
        li {
            display: inline-block;
            font-size: 1.25rem;
            margin: 0 1.2rem;
            position: relative;
            font-weight: bold;
            z-index: 1001;

            &.upper {
                z-index: 1002;
            }
            &.upper.two {
                z-index: 1003;
            }
            &.active {
                border-bottom: 1px solid #214da4;
            }
            &.left-divide {
                padding-left: 20px;
                &:before {
                    position: absolute;
                    display: inline-block;
                    content: "";
                    width: 5px;
                    height: 35px;
                    left: 0;
                    background-color: #5ecbe9;
                    border-radius: 15px;
                }
            }

            div.sub {
                transition: height 0.2s ease-in-out;
                height: 0;
                overflow: hidden;
                position: absolute;
                left: 50%;
                will-change: transform;
                transform: translateX(-50%);
                padding: 1rem 5px 0 5px;
                .arr {
                    transition: all 0.1s linear;
                    height: 0;
                    position: absolute;
                    left: 50%;
                    top: 1rem;
                    margin-top: 1px;
                    width: 2rem;
                    will-change: transform;
                    transform: translateX(-50%);
                    z-index: 1004;
                }
                ul {
                    float: left;
                    clear: both;
                    margin: 0;
                    padding: 1rem 0 0 0;
                    background-color: #FFFFFF;
                    z-index: 1003;
                    border: 1px #214da4 solid;
                    li {
                        float: left;
                        clear: both;
                        padding: 0 1rem;
                        margin: 0 0 1rem 0;
                        text-align: center;
                        width: 100%;
                        box-sizing: border-box;
                        font-weight: normal;
                        a {
                            font-size: 18px;
                            @media screen and (min-width: 1440px) {
                                &{
                                    font-size:20px;
                                }
                            }
                        }
                        span {
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }

            }

            &:hover{
                div.sub {
                    height: 410px;
                    .arr {
                        height: 1rem;
                        top: 0;
                    }
                    ul {
                        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
                    }
                }
            }
        }

        @media only screen and (min-width: 961px) and (max-width:1440px) {
            &{
                padding-left:150px;
                padding-right: 150px;
                will-change: transform;
                transform: translateY(13px);
            }
        }

        @media only screen and (min-width: 0) and (max-width:960px) {
            &{
                display:none;
            }
        }
    }

    .social {
        position: absolute;
        top: 27%;
        right: 2.3%;
        width: 165px;
        height: 45px;
        will-change: transform;
        transform: translateY(-50%);
        a {
            float: left;
            display: block;
            width: 45px;
            height: 45px;
            margin-left: 10px;
            img {
                float: left;
                width: 100%;
                height: 100%;
            }
        }

        @media only screen and (min-width: 961px) and (max-width:1440px) {
            &{
                right:1.725%;
                width: 132px;
                height: 34px;
                a {
                    width: 33px;
                    height: 33px;
                }
            }
        }
        @media only screen and (min-width: 0) and (max-width:960px) {
            &.main {
                display:none;
            }
        }

        &.mobile {
            float: left;
            clear: both;
            position: relative;
            right: auto;
            top: auto;
            bottom: auto;
            width: 100%;
            text-align: center;
            will-change: transform;
            transform: translateX(-10px);
            a {
                float: none;
                display: inline-block;
                img {
                    float: none;
                }
            }
        }
        &.top {
            right: 74px;
            width: 150px;
            height: 40px;
            a {
                width: 40px;
                height: 40px;
            }
            @media only screen and (min-width: 0) and (max-width:480px) {
                &{
                    display:none;
                }
            }
        }
    }

    .mobile-menu {
        position: absolute;
        top: 30px;
        right: 14px;
        @media only screen and (min-width: 961px) {
            &{
                display:none;
            }
        }
        .burger {
            height: 40px;
            cursor: pointer;
            float: right;
        }
    }
}

/* mobile menu */
.slide-menu {
    position: fixed;
    width: 290px;
    background-color: #ffffff;
    right: -320px;
    top: 15px;
    bottom: 15px;
    .close {
        float: left;
        clear: both;
        margin-left: 50%;
        will-change: transform;
        transform: translateX(-50%);
        height: 50px;
        margin-top: 15px;
        cursor: pointer;
    }

    menu {
        list-style: none;
        float: left;
        clear: both;
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        font-family: "Open Sans",sans-serif;
        font-size: 1rem;
        margin-top: 1rem;
        text-align: center;
        text-transform: uppercase;
        li {
            width: 100%;
            margin-bottom: 1.5rem;
            position: relative;
            a {
                color: #214da4;
                &:hover {
                    color: #7a94c8;
                }
            }
        }
    }
    .social {
        display: none;
    }

    &.open .social {
        display: block;
    }
}






