/*
mumsnet logo for product pages (not currently in use)
/resources/assets/scss/main/common/mumsnet.scss
imported into /resources/assets/scss/main/styles.scss
*/

.mumsnet {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    z-index: 100
}

.mumsnet img.mumsnet-logo {
    width: 100%!important;
    height: 100%!important
}

.mumsnet.our-products2 {
    bottom: auto;
    left: auto;
    right: -40px;
    top: 70px
}

.mumsnet.our-products2 img.mumsnet-logo {
    width: 80%!important;
    height: auto!important
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .mumsnet {
        width:60px;
        height: 60px;
        top: 173px;
        left: 30%
    }

    .mumsnet.baby-and-kids {
        bottom: 88%;
        left: -12px;
        top: auto
    }

    .mumsnet.baby-and-kids img.mumsnet-logo {
        width: 100%!important;
        height: 100%!important
    }

    .mumsnet.baby-and-kids2 {
        bottom: auto;
        left: auto;
        right: 0px;
        top: 0px
    }

    .mumsnet.baby-and-kids2 img {
        width: 80%!important;
        height: auto!important
    }

    .mumsnet.our-products {
        bottom: 80%;
        left: 8px;
        top: auto
    }

    .mumsnet.our-products img.mumsnet-logo {
        width: 80%!important;
        height: auto!important
    }

    .mumsnet.quiz {
        top: 0%;
        left: -35px;
        top: auto
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .mumsnet {
        width:100px;
        height: 100px;
        top: 250px;
        left: 32%
    }

    .mumsnet.baby-and-kids {
        bottom: 88%;
        left: -20px;
        top: auto
    }

    .mumsnet.baby-and-kids img.mumsnet-logo {
        width: 100%!important;
        height: 100%!important
    }

    .mumsnet.baby-and-kids2 {
        bottom: auto;
        left: auto;
        right: 0px;
        top: 0px
    }

    .mumsnet.baby-and-kids2 img {
        width: 80%!important;
        height: auto!important
    }

    .mumsnet.our-products {
        bottom: 80%;
        left: 8px;
        top: auto
    }

    .mumsnet.quiz {
        width: 70px;
        height: 70px;
        top: 0%;
        left: -20px;
        top: auto
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .mumsnet {
        width:70px;
        height: 70px;
        top: 250px;
        left: 32%
    }

    .mumsnet.baby-and-kids {
        bottom: 88%;
        left: -8px;
        top: auto
    }

    .mumsnet.baby-and-kids img.mumsnet-logo {
        width: 100%!important;
        height: 100%!important
    }

    .mumsnet.baby-and-kids2 {
        bottom: auto;
        left: auto;
        right: 0px;
        top: 0px
    }

    .mumsnet.baby-and-kids2 img {
        width: 100%!important;
        height: auto!important
    }

    .mumsnet.our-products {
        bottom: 80%;
        left: 8px;
        top: auto
    }

    .mumsnet.our-products2 {
        top: 60px;
        right: 0px
    }

    .mumsnet.quiz {
        width: 70px;
        height: 70px;
        top: 0%;
        left: -20px;
        top: auto
    }
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .mumsnet {
        width:95px;
        height: 95px;
        top: 45px;
        left: 70%
    }

    .mumsnet.baby-and-kids {
        bottom: 88%;
        left: 15px;
        top: auto
    }

    .mumsnet.baby-and-kids2 {
        bottom: auto;
        left: auto;
        right: 0px;
        top: 0px
    }

    .mumsnet.baby-and-kids2 img {
        width: 80%!important;
        height: auto!important
    }

    .mumsnet.our-products {
        bottom: 80%;
        left: 8px;
        top: auto
    }

    .mumsnet.our-products2 {
        right: 0px;
        top: 60px
    }

    .mumsnet.our-products2 img.mumsnet-logo {
        §width: 100%!important
    }

    .mumsnet.quiz {
        width: 100px;
        height: 100px;
        top: 0%;
        left: -20px;
        top: auto
    }
}

@media only screen and (min-width: 1441px) {
    .mumsnet {
        width:150px;
        height: 150px;
        top: 16px;
        right: 39%
    }

    .mumsnet.baby-and-kids {
        bottom: 88%;
        left: 20px;
        top: auto
    }

    .mumsnet.baby-and-kids2 {
        bottom: auto;
        left: auto;
        right: 0px;
        top: 0px
    }

    .mumsnet.baby-and-kids2 img {
        width: 80%!important;
        height: auto!important
    }

    .mumsnet.our-products {
        bottom: 80%;
        left: 8px;
        top: auto
    }

    .mumsnet.our-products2 {
        top: 80px;
        right: 0px
    }

    .mumsnet.quiz {
        width: 100px;
        height: 100px;
        top: 0%;
        left: -20px;
        top: auto
    }
}
