/*
bootsratp row/column styles
/resources/assets/scss/main/common/row.scss
imported into /resources/assets/scss/main/styles.scss
*/

.row {
    float: left;
    clear: both;
    width: 95.4%;
    margin: 0 2.3%;
    .columns {
        position: relative;
        float: left;
        margin-left: 0.615%;
        margin-right: 0.615%;
        margin-bottom: 1em;
    }
    &.abs {
        position: absolute;
        left: 0;
        width: 100%;
    }

    &.bottom {
        bottom: 0;
    }

    .columns.before-0 {
        margin-left: 0.615%;
    }

    .columns.after-0 {
        margin-right: 0.615%;
    }

    .columns.span-1 {
        width: 7.1033333333%;
    }

    .columns.before-1 {
        margin-left: 8.9483333333%;
    }

    .columns.after-1 {
        margin-right: 8.9483333333%;
    }

    .columns.span-2 {
        width: 15.4366666667%;
    }

    .columns.before-2 {
        margin-left: 17.2816666667%;
    }

    .columns.after-2 {
        margin-right: 17.2816666667%;
    }

    .columns.span-3 {
        width: 23.77%;
    }

    .columns.before-3 {
        margin-left: 25.615%;
    }

    .columns.after-3 {
        margin-right: 25.615%;
    }

    .columns.span-4 {
        width: 32.1033333333%;
    }

    .columns.before-4 {
        margin-left: 33.9483333333%;
    }

    .columns.after-4 {
        margin-right: 33.9483333333%;
    }

    .columns.span-5 {
        width: 40.4366666667%;
    }

    .columns.before-5 {
        margin-left: 42.2816666667%;
    }

    .columns.after-5 {
        margin-right: 42.2816666667%;
    }

    .columns.span-6 {
        width: 48.77%;
    }

    .columns.before-6 {
        margin-left: 50.615%;
    }

    .columns.after-6 {
        margin-right: 50.615%;
    }

    .columns.span-7 {
        width: 57.1033333333%;
    }

    .columns.before-7 {
        margin-left: 58.9483333333%;
    }

    .columns.after-7 {
        margin-right: 58.9483333333%;
    }

    .columns.span-8 {
        width: 65.4366666667%;
    }

    .columns.before-8 {
        margin-left: 67.2816666667%;
    }

    .columns.after-8 {
        margin-right: 67.2816666667%;
    }

    .columns.span-9 {
        width: 73.77%;
    }

    .columns.before-9 {
        margin-left: 75.615%;
    }

    .columns.after-9 {
        margin-right: 75.615%;
    }

    .columns.span-10 {
        width: 82.1033333333%;
    }

    .columns.before-10 {
        margin-left: 83.9483333333%;
    }

    .columns.after-10 {
        margin-right: 83.9483333333%;
    }

    .columns.span-11 {
        width: 90.4366666667%;
    }

    .columns.before-11 {
        margin-left: 92.2816666667%;
    }

    .columns.after-11 {
        margin-right: 92.2816666667%;
    }

    .columns.span-12 {
        width: 98.77%;
    }

    .columns.before-12 {
        margin-left: 100.615%;
    }

    .columns.after-12 {
        margin-right: 100.615%;
    }

}



@media only screen {
    .row .columns.sm-up-before-0 {
        margin-left: 0.615%
    }

    .row .columns.sm-up-after-0 {
        margin-right: 0.615%
    }

    .row .columns.sm-up-1 {
        width: 7.1033333333%
    }

    .row .columns.sm-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.sm-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.sm-up-2 {
        width: 15.4366666667%
    }

    .row .columns.sm-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.sm-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.sm-up-3 {
        width: 23.77%
    }

    .row .columns.sm-up-before-3 {
        margin-left: 25%
    }

    .row .columns.sm-up-after-3 {
        margin-right: 25%
    }

    .row .columns.sm-up-4 {
        width: 32.1033333333%
    }

    .row .columns.sm-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.sm-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.sm-up-5 {
        width: 40.4366666667%
    }

    .row .columns.sm-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.sm-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.sm-up-6 {
        width: 48.77%
    }

    .row .columns.sm-up-before-6 {
        margin-left: 50%
    }

    .row .columns.sm-up-after-6 {
        margin-right: 50%
    }

    .row .columns.sm-up-7 {
        width: 57.1033333333%
    }

    .row .columns.sm-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.sm-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.sm-up-8 {
        width: 65.4366666667%
    }

    .row .columns.sm-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.sm-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.sm-up-9 {
        width: 73.77%
    }

    .row .columns.sm-up-before-9 {
        margin-left: 75%
    }

    .row .columns.sm-up-after-9 {
        margin-right: 75%
    }

    .row .columns.sm-up-10 {
        width: 82.1033333333%
    }

    .row .columns.sm-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.sm-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.sm-up-11 {
        width: 90.4366666667%
    }

    .row .columns.sm-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.sm-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.sm-up-12 {
        width: 98.77%
    }

    .row .columns.sm-up-before-12 {
        margin-left: 100%
    }

    .row .columns.sm-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 481px) {
    .row .columns.md-up-before-0 {
        margin-left:0.615%
    }

    .row .columns.md-up-after-0 {
        margin-right: 0.615%
    }

    .row .columns.md-up-1 {
        width: 7.1033333333%
    }

    .row .columns.md-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.md-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.md-up-2 {
        width: 15.4366666667%
    }

    .row .columns.md-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.md-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.md-up-3 {
        width: 23.77%
    }

    .row .columns.md-up-before-3 {
        margin-left: 25%
    }

    .row .columns.md-up-after-3 {
        margin-right: 25%
    }

    .row .columns.md-up-4 {
        width: 32.1033333333%
    }

    .row .columns.md-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.md-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.md-up-5 {
        width: 40.4366666667%
    }

    .row .columns.md-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.md-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.md-up-6 {
        width: 48.77%
    }

    .row .columns.md-up-before-6 {
        margin-left: 50%
    }

    .row .columns.md-up-after-6 {
        margin-right: 50%
    }

    .row .columns.md-up-7 {
        width: 57.1033333333%
    }

    .row .columns.md-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.md-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.md-up-8 {
        width: 65.4366666667%
    }

    .row .columns.md-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.md-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.md-up-9 {
        width: 73.77%
    }

    .row .columns.md-up-before-9 {
        margin-left: 75%
    }

    .row .columns.md-up-after-9 {
        margin-right: 75%
    }

    .row .columns.md-up-10 {
        width: 82.1033333333%
    }

    .row .columns.md-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.md-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.md-up-11 {
        width: 90.4366666667%
    }

    .row .columns.md-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.md-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.md-up-12 {
        width: 98.77%
    }

    .row .columns.md-up-before-12 {
        margin-left: 100%
    }

    .row .columns.md-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 769px) {
    .row .columns.lg-up-before-0 {
        margin-left:0.615%
    }

    .row .columns.lg-up-after-0 {
        margin-right: 0.615%
    }

    .row .columns.lg-up-1 {
        width: 7.1033333333%
    }

    .row .columns.lg-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.lg-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.lg-up-2 {
        width: 15.4366666667%
    }

    .row .columns.lg-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.lg-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.lg-up-3 {
        width: 23.77%
    }

    .row .columns.lg-up-before-3 {
        margin-left: 25%
    }

    .row .columns.lg-up-after-3 {
        margin-right: 25%
    }

    .row .columns.lg-up-4 {
        width: 32.1033333333%
    }

    .row .columns.lg-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.lg-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.lg-up-5 {
        width: 40.4366666667%
    }

    .row .columns.lg-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.lg-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.lg-up-6 {
        width: 48.77%
    }

    .row .columns.lg-up-before-6 {
        margin-left: 50%
    }

    .row .columns.lg-up-after-6 {
        margin-right: 50%
    }

    .row .columns.lg-up-7 {
        width: 57.1033333333%
    }

    .row .columns.lg-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.lg-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.lg-up-8 {
        width: 65.4366666667%
    }

    .row .columns.lg-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.lg-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.lg-up-9 {
        width: 73.77%
    }

    .row .columns.lg-up-before-9 {
        margin-left: 75%
    }

    .row .columns.lg-up-after-9 {
        margin-right: 75%
    }

    .row .columns.lg-up-10 {
        width: 82.1033333333%
    }

    .row .columns.lg-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.lg-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.lg-up-11 {
        width: 90.4366666667%
    }

    .row .columns.lg-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.lg-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.lg-up-12 {
        width: 98.77%
    }

    .row .columns.lg-up-before-12 {
        margin-left: 100%
    }

    .row .columns.lg-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 961px) {
    .row .columns.xlg-up-before-0 {
        margin-left:0.615%
    }

    .row .columns.xlg-up-after-0 {
        margin-right: 0.615%
    }

    .row .columns.xlg-up-1 {
        width: 7.1033333333%
    }

    .row .columns.xlg-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.xlg-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.xlg-up-2 {
        width: 15.4366666667%
    }

    .row .columns.xlg-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.xlg-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.xlg-up-3 {
        width: 23.77%
    }

    .row .columns.xlg-up-before-3 {
        margin-left: 25%
    }

    .row .columns.xlg-up-after-3 {
        margin-right: 25%
    }

    .row .columns.xlg-up-4 {
        width: 32.1033333333%
    }

    .row .columns.xlg-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.xlg-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.xlg-up-5 {
        width: 40.4366666667%
    }

    .row .columns.xlg-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.xlg-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.xlg-up-6 {
        width: 48.77%
    }

    .row .columns.xlg-up-before-6 {
        margin-left: 50%
    }

    .row .columns.xlg-up-after-6 {
        margin-right: 50%
    }

    .row .columns.xlg-up-7 {
        width: 57.1033333333%
    }

    .row .columns.xlg-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.xlg-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.xlg-up-8 {
        width: 65.4366666667%
    }

    .row .columns.xlg-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.xlg-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.xlg-up-9 {
        width: 73.77%
    }

    .row .columns.xlg-up-before-9 {
        margin-left: 75%
    }

    .row .columns.xlg-up-after-9 {
        margin-right: 75%
    }

    .row .columns.xlg-up-10 {
        width: 82.1033333333%
    }

    .row .columns.xlg-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.xlg-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.xlg-up-11 {
        width: 90.4366666667%
    }

    .row .columns.xlg-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.xlg-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.xlg-up-12 {
        width: 98.77%
    }

    .row .columns.xlg-up-before-12 {
        margin-left: 100%
    }

    .row .columns.xlg-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 1441px) and (max-width:99999999em) {
    .row .columns.xxlg-before-0 {
        margin-left:0.615%
    }

    .row .columns.xxlg-after-0 {
        margin-right: 0.615%
    }

    .row .columns.xxlg-clear {
        clear: both
    }

    .row .columns.xxlg-1 {
        width: 7.1033333333%
    }

    .row .columns.xxlg-before-1 {
        margin-left: 8.9483333333%
    }

    .row .columns.xxlg-after-1 {
        margin-right: 8.9483333333%
    }

    .row .columns.xxlg-2 {
        width: 15.4366666667%
    }

    .row .columns.xxlg-before-2 {
        margin-left: 17.2816666667%
    }

    .row .columns.xxlg-after-2 {
        margin-right: 17.2816666667%
    }

    .row .columns.xxlg-3 {
        width: 23.77%
    }

    .row .columns.xxlg-before-3 {
        margin-left: 25.615%
    }

    .row .columns.xxlg-after-3 {
        margin-right: 25.615%
    }

    .row .columns.xxlg-4 {
        width: 32.1033333333%
    }

    .row .columns.xxlg-before-4 {
        margin-left: 33.9483333333%
    }

    .row .columns.xxlg-after-4 {
        margin-right: 33.9483333333%
    }

    .row .columns.xxlg-5 {
        width: 40.4366666667%
    }

    .row .columns.xxlg-before-5 {
        margin-left: 42.2816666667%
    }

    .row .columns.xxlg-after-5 {
        margin-right: 42.2816666667%
    }

    .row .columns.xxlg-6 {
        width: 48.77%
    }

    .row .columns.xxlg-before-6 {
        margin-left: 50.615%
    }

    .row .columns.xxlg-after-6 {
        margin-right: 50.615%
    }

    .row .columns.xxlg-7 {
        width: 57.1033333333%
    }

    .row .columns.xxlg-before-7 {
        margin-left: 58.9483333333%
    }

    .row .columns.xxlg-after-7 {
        margin-right: 58.9483333333%
    }

    .row .columns.xxlg-8 {
        width: 65.4366666667%
    }

    .row .columns.xxlg-before-8 {
        margin-left: 67.2816666667%
    }

    .row .columns.xxlg-after-8 {
        margin-right: 67.2816666667%
    }

    .row .columns.xxlg-9 {
        width: 73.77%
    }

    .row .columns.xxlg-before-9 {
        margin-left: 75.615%
    }

    .row .columns.xxlg-after-9 {
        margin-right: 75.615%
    }

    .row .columns.xxlg-10 {
        width: 82.1033333333%
    }

    .row .columns.xxlg-before-10 {
        margin-left: 83.9483333333%
    }

    .row .columns.xxlg-after-10 {
        margin-right: 83.9483333333%
    }

    .row .columns.xxlg-11 {
        width: 90.4366666667%
    }

    .row .columns.xxlg-before-11 {
        margin-left: 92.2816666667%
    }

    .row .columns.xxlg-after-11 {
        margin-right: 92.2816666667%
    }

    .row .columns.xxlg-12 {
        width: 98.77%
    }

    .row .columns.xxlg-before-12 {
        margin-left: 100.615%
    }

    .row .columns.xxlg-after-12 {
        margin-right: 100.615%
    }
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .row .columns.xlg-before-0 {
        margin-left:0.615%
    }

    .row .columns.xlg-after-0 {
        margin-right: 0.615%
    }

    .row .columns.xlg-clear {
        clear: both
    }

    .row .columns.xlg-1 {
        width: 7.1033333333%
    }

    .row .columns.xlg-before-1 {
        margin-left: 8.9483333333%
    }

    .row .columns.xlg-after-1 {
        margin-right: 8.9483333333%
    }

    .row .columns.xlg-2 {
        width: 15.4366666667%
    }

    .row .columns.xlg-before-2 {
        margin-left: 17.2816666667%
    }

    .row .columns.xlg-after-2 {
        margin-right: 17.2816666667%
    }

    .row .columns.xlg-3 {
        width: 23.77%
    }

    .row .columns.xlg-before-3 {
        margin-left: 25.615%
    }

    .row .columns.xlg-after-3 {
        margin-right: 25.615%
    }

    .row .columns.xlg-4 {
        width: 32.1033333333%
    }

    .row .columns.xlg-before-4 {
        margin-left: 33.9483333333%
    }

    .row .columns.xlg-after-4 {
        margin-right: 33.9483333333%
    }

    .row .columns.xlg-5 {
        width: 40.4366666667%
    }

    .row .columns.xlg-before-5 {
        margin-left: 42.2816666667%
    }

    .row .columns.xlg-after-5 {
        margin-right: 42.2816666667%
    }

    .row .columns.xlg-6 {
        width: 48.77%
    }

    .row .columns.xlg-before-6 {
        margin-left: 50.615%
    }

    .row .columns.xlg-after-6 {
        margin-right: 50.615%
    }

    .row .columns.xlg-7 {
        width: 57.1033333333%
    }

    .row .columns.xlg-before-7 {
        margin-left: 58.9483333333%
    }

    .row .columns.xlg-after-7 {
        margin-right: 58.9483333333%
    }

    .row .columns.xlg-8 {
        width: 65.4366666667%
    }

    .row .columns.xlg-before-8 {
        margin-left: 67.2816666667%
    }

    .row .columns.xlg-after-8 {
        margin-right: 67.2816666667%
    }

    .row .columns.xlg-9 {
        width: 73.77%
    }

    .row .columns.xlg-before-9 {
        margin-left: 75.615%
    }

    .row .columns.xlg-after-9 {
        margin-right: 75.615%
    }

    .row .columns.xlg-10 {
        width: 82.1033333333%
    }

    .row .columns.xlg-before-10 {
        margin-left: 83.9483333333%
    }

    .row .columns.xlg-after-10 {
        margin-right: 83.9483333333%
    }

    .row .columns.xlg-11 {
        width: 90.4366666667%
    }

    .row .columns.xlg-before-11 {
        margin-left: 92.2816666667%
    }

    .row .columns.xlg-after-11 {
        margin-right: 92.2816666667%
    }

    .row .columns.xlg-12 {
        width: 98.77%
    }

    .row .columns.xlg-before-12 {
        margin-left: 100.615%
    }

    .row .columns.xlg-after-12 {
        margin-right: 100.615%
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .row .columns.lg-before-0 {
        margin-left:0.615%
    }

    .row .columns.lg-after-0 {
        margin-right: 0.615%
    }

    .row .columns.lg-clear {
        clear: both
    }

    .row .columns.lg-1 {
        width: 7.1033333333%
    }

    .row .columns.lg-before-1 {
        margin-left: 8.9483333333%
    }

    .row .columns.lg-after-1 {
        margin-right: 8.9483333333%
    }

    .row .columns.lg-2 {
        width: 15.4366666667%
    }

    .row .columns.lg-before-2 {
        margin-left: 17.2816666667%
    }

    .row .columns.lg-after-2 {
        margin-right: 17.2816666667%
    }

    .row .columns.lg-3 {
        width: 23.77%
    }

    .row .columns.lg-before-3 {
        margin-left: 25.615%
    }

    .row .columns.lg-after-3 {
        margin-right: 25.615%
    }

    .row .columns.lg-4 {
        width: 32.1033333333%
    }

    .row .columns.lg-before-4 {
        margin-left: 33.9483333333%
    }

    .row .columns.lg-after-4 {
        margin-right: 33.9483333333%
    }

    .row .columns.lg-5 {
        width: 40.4366666667%
    }

    .row .columns.lg-before-5 {
        margin-left: 42.2816666667%
    }

    .row .columns.lg-after-5 {
        margin-right: 42.2816666667%
    }

    .row .columns.lg-6 {
        width: 48.77%
    }

    .row .columns.lg-before-6 {
        margin-left: 50.615%
    }

    .row .columns.lg-after-6 {
        margin-right: 50.615%
    }

    .row .columns.lg-7 {
        width: 57.1033333333%
    }

    .row .columns.lg-before-7 {
        margin-left: 58.9483333333%
    }

    .row .columns.lg-after-7 {
        margin-right: 58.9483333333%
    }

    .row .columns.lg-8 {
        width: 65.4366666667%
    }

    .row .columns.lg-before-8 {
        margin-left: 67.2816666667%
    }

    .row .columns.lg-after-8 {
        margin-right: 67.2816666667%
    }

    .row .columns.lg-9 {
        width: 73.77%
    }

    .row .columns.lg-before-9 {
        margin-left: 75.615%
    }

    .row .columns.lg-after-9 {
        margin-right: 75.615%
    }

    .row .columns.lg-10 {
        width: 82.1033333333%
    }

    .row .columns.lg-before-10 {
        margin-left: 83.9483333333%
    }

    .row .columns.lg-after-10 {
        margin-right: 83.9483333333%
    }

    .row .columns.lg-11 {
        width: 90.4366666667%
    }

    .row .columns.lg-before-11 {
        margin-left: 92.2816666667%
    }

    .row .columns.lg-after-11 {
        margin-right: 92.2816666667%
    }

    .row .columns.lg-12 {
        width: 98.77%
    }

    .row .columns.lg-before-12 {
        margin-left: 100.615%
    }

    .row .columns.lg-after-12 {
        margin-right: 100.615%
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .row .columns.md-before-0 {
        margin-left:0.615%
    }

    .row .columns.md-after-0 {
        margin-right: 0.615%
    }

    .row .columns.md-clear {
        clear: both
    }

    .row .columns.md-1 {
        width: 7.1033333333%
    }

    .row .columns.md-before-1 {
        margin-left: 8.9483333333%
    }

    .row .columns.md-after-1 {
        margin-right: 8.9483333333%
    }

    .row .columns.md-2 {
        width: 15.4366666667%
    }

    .row .columns.md-before-2 {
        margin-left: 17.2816666667%
    }

    .row .columns.md-after-2 {
        margin-right: 17.2816666667%
    }

    .row .columns.md-3 {
        width: 23.77%
    }

    .row .columns.md-before-3 {
        margin-left: 25.615%
    }

    .row .columns.md-after-3 {
        margin-right: 25.615%
    }

    .row .columns.md-4 {
        width: 32.1033333333%
    }

    .row .columns.md-before-4 {
        margin-left: 33.9483333333%
    }

    .row .columns.md-after-4 {
        margin-right: 33.9483333333%
    }

    .row .columns.md-5 {
        width: 40.4366666667%
    }

    .row .columns.md-before-5 {
        margin-left: 42.2816666667%
    }

    .row .columns.md-after-5 {
        margin-right: 42.2816666667%
    }

    .row .columns.md-6 {
        width: 48.77%
    }

    .row .columns.md-before-6 {
        margin-left: 50.615%
    }

    .row .columns.md-after-6 {
        margin-right: 50.615%
    }

    .row .columns.md-7 {
        width: 57.1033333333%
    }

    .row .columns.md-before-7 {
        margin-left: 58.9483333333%
    }

    .row .columns.md-after-7 {
        margin-right: 58.9483333333%
    }

    .row .columns.md-8 {
        width: 65.4366666667%
    }

    .row .columns.md-before-8 {
        margin-left: 67.2816666667%
    }

    .row .columns.md-after-8 {
        margin-right: 67.2816666667%
    }

    .row .columns.md-9 {
        width: 73.77%
    }

    .row .columns.md-before-9 {
        margin-left: 75.615%
    }

    .row .columns.md-after-9 {
        margin-right: 75.615%
    }

    .row .columns.md-10 {
        width: 82.1033333333%
    }

    .row .columns.md-before-10 {
        margin-left: 83.9483333333%
    }

    .row .columns.md-after-10 {
        margin-right: 83.9483333333%
    }

    .row .columns.md-11 {
        width: 90.4366666667%
    }

    .row .columns.md-before-11 {
        margin-left: 92.2816666667%
    }

    .row .columns.md-after-11 {
        margin-right: 92.2816666667%
    }

    .row .columns.md-12 {
        width: 98.77%
    }

    .row .columns.md-before-12 {
        margin-left: 100.615%
    }

    .row .columns.md-after-12 {
        margin-right: 100.615%
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .row .columns.sm-before-0 {
        margin-left:0.615%
    }

    .row .columns.sm-after-0 {
        margin-right: 0.615%
    }

    .row .columns.sm-1 {
        width: 7.1033333333%
    }

    .row .columns.sm-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.sm-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.sm-2 {
        width: 15.4366666667%
    }

    .row .columns.sm-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.sm-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.sm-3 {
        width: 23.77%
    }

    .row .columns.sm-before-3 {
        margin-left: 25%
    }

    .row .columns.sm-after-3 {
        margin-right: 25%
    }

    .row .columns.sm-4 {
        width: 32.1033333333%
    }

    .row .columns.sm-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.sm-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.sm-5 {
        width: 40.4366666667%
    }

    .row .columns.sm-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.sm-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.sm-6 {
        width: 48.77%
    }

    .row .columns.sm-before-6 {
        margin-left: 50%
    }

    .row .columns.sm-after-6 {
        margin-right: 50%
    }

    .row .columns.sm-7 {
        width: 57.1033333333%
    }

    .row .columns.sm-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.sm-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.sm-8 {
        width: 65.4366666667%
    }

    .row .columns.sm-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.sm-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.sm-9 {
        width: 73.77%
    }

    .row .columns.sm-before-9 {
        margin-left: 75%
    }

    .row .columns.sm-after-9 {
        margin-right: 75%
    }

    .row .columns.sm-10 {
        width: 82.1033333333%
    }

    .row .columns.sm-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.sm-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.sm-11 {
        width: 90.4366666667%
    }

    .row .columns.sm-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.sm-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.sm-12 {
        width: 98.77%
    }

    .row .columns.sm-before-12 {
        margin-left: 100%
    }

    .row .columns.sm-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 0) and (max-width:768px) {
    .row .columns.sm-md-before-0 {
        margin-left:0.615%
    }

    .row .columns.sm-md-after-0 {
        margin-right: 0.615%
    }

    .row .columns.sm-md-1 {
        width: 7.1033333333%
    }

    .row .columns.sm-md-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.sm-md-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.sm-md-2 {
        width: 15.4366666667%
    }

    .row .columns.sm-md-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.sm-md-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.sm-md-3 {
        width: 23.77%
    }

    .row .columns.sm-md-before-3 {
        margin-left: 25%
    }

    .row .columns.sm-md-after-3 {
        margin-right: 25%
    }

    .row .columns.sm-md-4 {
        width: 32.1033333333%
    }

    .row .columns.sm-md-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.sm-md-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.sm-md-5 {
        width: 40.4366666667%
    }

    .row .columns.sm-md-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.sm-md-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.sm-md-6 {
        width: 48.77%
    }

    .row .columns.sm-md-before-6 {
        margin-left: 50%
    }

    .row .columns.sm-md-after-6 {
        margin-right: 50%
    }

    .row .columns.sm-md-7 {
        width: 57.1033333333%
    }

    .row .columns.sm-md-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.sm-md-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.sm-md-8 {
        width: 65.4366666667%
    }

    .row .columns.sm-md-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.sm-md-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.sm-md-9 {
        width: 73.77%
    }

    .row .columns.sm-md-before-9 {
        margin-left: 75%
    }

    .row .columns.sm-md-after-9 {
        margin-right: 75%
    }

    .row .columns.sm-md-10 {
        width: 82.1033333333%
    }

    .row .columns.sm-md-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.sm-md-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.sm-md-11 {
        width: 90.4366666667%
    }

    .row .columns.sm-md-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.sm-md-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.sm-md-12 {
        width: 98.77%
    }

    .row .columns.sm-md-before-12 {
        margin-left: 100%
    }

    .row .columns.sm-md-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 0) and (max-width:960px) {
    .row .columns.sm-lg-before-0 {
        margin-left:0.615%
    }

    .row .columns.sm-lg-after-0 {
        margin-right: 0.615%
    }

    .row .columns.sm-lg-1 {
        width: 7.1033333333%
    }

    .row .columns.sm-lg-before-1 {
        margin-left: 8.3333333333%
    }

    .row .columns.sm-lg-after-1 {
        margin-right: 8.3333333333%
    }

    .row .columns.sm-lg-2 {
        width: 15.4366666667%
    }

    .row .columns.sm-lg-before-2 {
        margin-left: 16.6666666667%
    }

    .row .columns.sm-lg-after-2 {
        margin-right: 16.6666666667%
    }

    .row .columns.sm-lg-3 {
        width: 23.77%
    }

    .row .columns.sm-lg-before-3 {
        margin-left: 25%
    }

    .row .columns.sm-lg-after-3 {
        margin-right: 25%
    }

    .row .columns.sm-lg-4 {
        width: 32.1033333333%
    }

    .row .columns.sm-lg-before-4 {
        margin-left: 33.3333333333%
    }

    .row .columns.sm-lg-after-4 {
        margin-right: 33.3333333333%
    }

    .row .columns.sm-lg-5 {
        width: 40.4366666667%
    }

    .row .columns.sm-lg-before-5 {
        margin-left: 41.6666666667%
    }

    .row .columns.sm-lg-after-5 {
        margin-right: 41.6666666667%
    }

    .row .columns.sm-lg-6 {
        width: 48.77%
    }

    .row .columns.sm-lg-before-6 {
        margin-left: 50%
    }

    .row .columns.sm-lg-after-6 {
        margin-right: 50%
    }

    .row .columns.sm-lg-7 {
        width: 57.1033333333%
    }

    .row .columns.sm-lg-before-7 {
        margin-left: 58.3333333333%
    }

    .row .columns.sm-lg-after-7 {
        margin-right: 58.3333333333%
    }

    .row .columns.sm-lg-8 {
        width: 65.4366666667%
    }

    .row .columns.sm-lg-before-8 {
        margin-left: 66.6666666667%
    }

    .row .columns.sm-lg-after-8 {
        margin-right: 66.6666666667%
    }

    .row .columns.sm-lg-9 {
        width: 73.77%
    }

    .row .columns.sm-lg-before-9 {
        margin-left: 75%
    }

    .row .columns.sm-lg-after-9 {
        margin-right: 75%
    }

    .row .columns.sm-lg-10 {
        width: 82.1033333333%
    }

    .row .columns.sm-lg-before-10 {
        margin-left: 83.3333333333%
    }

    .row .columns.sm-lg-after-10 {
        margin-right: 83.3333333333%
    }

    .row .columns.sm-lg-11 {
        width: 90.4366666667%
    }

    .row .columns.sm-lg-before-11 {
        margin-left: 91.6666666667%
    }

    .row .columns.sm-lg-after-11 {
        margin-right: 91.6666666667%
    }

    .row .columns.sm-lg-12 {
        width: 98.77%
    }

    .row .columns.sm-lg-before-12 {
        margin-left: 100%
    }

    .row .columns.sm-lg-after-12 {
        margin-right: 100%
    }
}

.row.padded {
    width: 95.4%!important;
    margin: 0 2.3%!important
}

.row.nopad {
    width: 101.23%;
    margin: 0;
    margin-left: -0.615%
}

.row.full {
    width: 100%;
    margin: 0
}

.row.full>.columns {
    margin: 0
}

.row.full>.columns.span-1 {
    width: 8.3333333333%
}

.row.full>.columns.before-1 {
    margin-left: 8.3333333333%
}

.row.full>.columns.after-1 {
    margin-right: 8.3333333333%
}

.row.full>.columns.span-2 {
    width: 16.6666666667%
}

.row.full>.columns.before-2 {
    margin-left: 16.6666666667%
}

.row.full>.columns.after-2 {
    margin-right: 16.6666666667%
}

.row.full>.columns.span-3 {
    width: 25%
}

.row.full>.columns.before-3 {
    margin-left: 25%
}

.row.full>.columns.after-3 {
    margin-right: 25%
}

.row.full>.columns.span-4 {
    width: 33.3333333333%
}

.row.full>.columns.before-4 {
    margin-left: 33.3333333333%
}

.row.full>.columns.after-4 {
    margin-right: 33.3333333333%
}

.row.full>.columns.span-5 {
    width: 41.6666666667%
}

.row.full>.columns.before-5 {
    margin-left: 41.6666666667%
}

.row.full>.columns.after-5 {
    margin-right: 41.6666666667%
}

.row.full>.columns.span-6 {
    width: 50%
}

.row.full>.columns.before-6 {
    margin-left: 50%
}

.row.full>.columns.after-6 {
    margin-right: 50%
}

.row.full>.columns.span-7 {
    width: 58.3333333333%
}

.row.full>.columns.before-7 {
    margin-left: 58.3333333333%
}

.row.full>.columns.after-7 {
    margin-right: 58.3333333333%
}

.row.full>.columns.span-8 {
    width: 66.6666666667%
}

.row.full>.columns.before-8 {
    margin-left: 66.6666666667%
}

.row.full>.columns.after-8 {
    margin-right: 66.6666666667%
}

.row.full>.columns.span-9 {
    width: 75%
}

.row.full>.columns.before-9 {
    margin-left: 75%
}

.row.full>.columns.after-9 {
    margin-right: 75%
}

.row.full>.columns.span-10 {
    width: 83.3333333333%
}

.row.full>.columns.before-10 {
    margin-left: 83.3333333333%
}

.row.full>.columns.after-10 {
    margin-right: 83.3333333333%
}

.row.full>.columns.span-11 {
    width: 91.6666666667%
}

.row.full>.columns.before-11 {
    margin-left: 91.6666666667%
}

.row.full>.columns.after-11 {
    margin-right: 91.6666666667%
}

.row.full>.columns.span-12 {
    width: 100%
}

.row.full>.columns.before-12 {
    margin-left: 100%
}

.row.full>.columns.after-12 {
    margin-right: 100%
}

@media only screen {
    .row.full>.columns.sm-up-before-0 {
        margin-left: 0.615%
    }

    .row.full>.columns.sm-up-after-0 {
        margin-right: 0.615%
    }

    .row.full>.columns.sm-up-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.sm-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.sm-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.sm-up-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.sm-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.sm-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.sm-up-3 {
        width: 25%
    }

    .row.full>.columns.sm-up-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.sm-up-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.sm-up-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.sm-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.sm-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.sm-up-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.sm-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.sm-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.sm-up-6 {
        width: 50%
    }

    .row.full>.columns.sm-up-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.sm-up-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.sm-up-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.sm-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.sm-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.sm-up-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.sm-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.sm-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.sm-up-9 {
        width: 75%
    }

    .row.full>.columns.sm-up-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.sm-up-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.sm-up-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.sm-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.sm-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.sm-up-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.sm-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.sm-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.sm-up-12 {
        width: 100%
    }

    .row.full>.columns.sm-up-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.sm-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 481px) {
    .row.full>.columns.md-up-before-0 {
        margin-left:0.615%
    }

    .row.full>.columns.md-up-after-0 {
        margin-right: 0.615%
    }

    .row.full>.columns.md-up-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.md-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.md-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.md-up-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.md-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.md-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.md-up-3 {
        width: 25%
    }

    .row.full>.columns.md-up-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.md-up-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.md-up-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.md-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.md-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.md-up-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.md-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.md-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.md-up-6 {
        width: 50%
    }

    .row.full>.columns.md-up-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.md-up-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.md-up-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.md-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.md-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.md-up-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.md-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.md-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.md-up-9 {
        width: 75%
    }

    .row.full>.columns.md-up-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.md-up-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.md-up-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.md-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.md-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.md-up-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.md-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.md-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.md-up-12 {
        width: 100%
    }

    .row.full>.columns.md-up-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.md-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 769px) {
    .row.full>.columns.lg-up-before-0 {
        margin-left:0.615%
    }

    .row.full>.columns.lg-up-after-0 {
        margin-right: 0.615%
    }

    .row.full>.columns.lg-up-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.lg-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.lg-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.lg-up-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.lg-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.lg-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.lg-up-3 {
        width: 25%
    }

    .row.full>.columns.lg-up-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.lg-up-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.lg-up-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.lg-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.lg-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.lg-up-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.lg-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.lg-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.lg-up-6 {
        width: 50%
    }

    .row.full>.columns.lg-up-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.lg-up-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.lg-up-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.lg-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.lg-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.lg-up-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.lg-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.lg-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.lg-up-9 {
        width: 75%
    }

    .row.full>.columns.lg-up-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.lg-up-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.lg-up-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.lg-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.lg-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.lg-up-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.lg-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.lg-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.lg-up-12 {
        width: 100%
    }

    .row.full>.columns.lg-up-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.lg-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 961px) {
    .row.full>.columns.xlg-up-before-0 {
        margin-left:0.615%
    }

    .row.full>.columns.xlg-up-after-0 {
        margin-right: 0.615%
    }

    .row.full>.columns.xlg-up-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.xlg-up-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.xlg-up-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.xlg-up-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.xlg-up-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.xlg-up-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.xlg-up-3 {
        width: 25%
    }

    .row.full>.columns.xlg-up-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.xlg-up-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.xlg-up-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.xlg-up-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.xlg-up-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.xlg-up-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.xlg-up-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.xlg-up-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.xlg-up-6 {
        width: 50%
    }

    .row.full>.columns.xlg-up-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.xlg-up-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.xlg-up-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.xlg-up-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.xlg-up-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.xlg-up-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.xlg-up-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.xlg-up-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.xlg-up-9 {
        width: 75%
    }

    .row.full>.columns.xlg-up-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.xlg-up-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.xlg-up-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.xlg-up-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.xlg-up-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.xlg-up-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.xlg-up-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.xlg-up-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.xlg-up-12 {
        width: 100%
    }

    .row.full>.columns.xlg-up-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.xlg-up-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 1441px) and (max-width:99999999em) {
    .row.full>.columns.xxlg-before-0 {
        margin-left:0
    }

    .row.full>.columns.xxlg-after-0 {
        margin-right: 0
    }

    .row.full>.columns.xxlg-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.xxlg-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.xxlg-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.xxlg-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.xxlg-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.xxlg-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.xxlg-3 {
        width: 25%
    }

    .row.full>.columns.xxlg-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.xxlg-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.xxlg-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.xxlg-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.xxlg-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.xxlg-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.xxlg-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.xxlg-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.xxlg-6 {
        width: 50%
    }

    .row.full>.columns.xxlg-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.xxlg-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.xxlg-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.xxlg-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.xxlg-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.xxlg-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.xxlg-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.xxlg-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.xxlg-9 {
        width: 75%
    }

    .row.full>.columns.xxlg-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.xxlg-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.xxlg-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.xxlg-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.xxlg-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.xxlg-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.xxlg-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.xxlg-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.xxlg-12 {
        width: 100%
    }

    .row.full>.columns.xxlg-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.xxlg-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 961px) and (max-width:1440px) {
    .row.full>.columns.xlg-before-0 {
        margin-left:0
    }

    .row.full>.columns.xlg-after-0 {
        margin-right: 0
    }

    .row.full>.columns.xlg-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.xlg-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.xlg-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.xlg-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.xlg-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.xlg-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.xlg-3 {
        width: 25%
    }

    .row.full>.columns.xlg-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.xlg-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.xlg-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.xlg-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.xlg-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.xlg-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.xlg-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.xlg-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.xlg-6 {
        width: 50%
    }

    .row.full>.columns.xlg-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.xlg-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.xlg-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.xlg-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.xlg-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.xlg-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.xlg-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.xlg-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.xlg-9 {
        width: 75%
    }

    .row.full>.columns.xlg-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.xlg-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.xlg-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.xlg-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.xlg-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.xlg-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.xlg-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.xlg-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.xlg-12 {
        width: 100%
    }

    .row.full>.columns.xlg-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.xlg-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .row.full>.columns.lg-before-0 {
        margin-left:0
    }

    .row.full>.columns.lg-after-0 {
        margin-right: 0
    }

    .row.full>.columns.lg-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.lg-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.lg-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.lg-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.lg-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.lg-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.lg-3 {
        width: 25%
    }

    .row.full>.columns.lg-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.lg-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.lg-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.lg-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.lg-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.lg-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.lg-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.lg-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.lg-6 {
        width: 50%
    }

    .row.full>.columns.lg-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.lg-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.lg-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.lg-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.lg-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.lg-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.lg-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.lg-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.lg-9 {
        width: 75%
    }

    .row.full>.columns.lg-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.lg-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.lg-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.lg-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.lg-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.lg-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.lg-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.lg-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.lg-12 {
        width: 100%
    }

    .row.full>.columns.lg-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.lg-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .row.full>.columns.md-before-0 {
        margin-left:0
    }

    .row.full>.columns.md-after-0 {
        margin-right: 0
    }

    .row.full>.columns.md-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.md-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.md-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.md-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.md-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.md-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.md-3 {
        width: 25%
    }

    .row.full>.columns.md-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.md-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.md-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.md-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.md-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.md-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.md-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.md-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.md-6 {
        width: 50%
    }

    .row.full>.columns.md-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.md-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.md-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.md-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.md-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.md-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.md-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.md-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.md-9 {
        width: 75%
    }

    .row.full>.columns.md-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.md-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.md-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.md-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.md-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.md-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.md-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.md-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.md-12 {
        width: 100%
    }

    .row.full>.columns.md-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.md-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .row.full>.columns.sm-before-0 {
        margin-left:0
    }

    .row.full>.columns.sm-after-0 {
        margin-right: 0
    }

    .row.full>.columns.sm-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.sm-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.sm-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.sm-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.sm-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.sm-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.sm-3 {
        width: 25%
    }

    .row.full>.columns.sm-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.sm-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.sm-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.sm-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.sm-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.sm-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.sm-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.sm-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.sm-6 {
        width: 50%
    }

    .row.full>.columns.sm-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.sm-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.sm-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.sm-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.sm-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.sm-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.sm-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.sm-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.sm-9 {
        width: 75%
    }

    .row.full>.columns.sm-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.sm-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.sm-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.sm-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.sm-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.sm-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.sm-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.sm-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.sm-12 {
        width: 100%
    }

    .row.full>.columns.sm-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.sm-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 0) and (max-width:768px) {
    .row.full>.columns.sm-md-before-0 {
        margin-left:0
    }

    .row.full>.columns.sm-md-after-0 {
        margin-right: 0
    }

    .row.full>.columns.sm-md-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.sm-md-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.sm-md-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.sm-md-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.sm-md-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.sm-md-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.sm-md-3 {
        width: 25%
    }

    .row.full>.columns.sm-md-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.sm-md-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.sm-md-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.sm-md-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.sm-md-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.sm-md-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.sm-md-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.sm-md-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.sm-md-6 {
        width: 50%
    }

    .row.full>.columns.sm-md-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.sm-md-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.sm-md-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.sm-md-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.sm-md-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.sm-md-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.sm-md-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.sm-md-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.sm-md-9 {
        width: 75%
    }

    .row.full>.columns.sm-md-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.sm-md-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.sm-md-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.sm-md-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.sm-md-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.sm-md-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.sm-md-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.sm-md-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.sm-md-12 {
        width: 100%
    }

    .row.full>.columns.sm-md-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.sm-md-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 0) and (max-width:960px) {
    .row.full>.columns.sm-lg-before-0 {
        margin-left:0
    }

    .row.full>.columns.sm-lg-after-0 {
        margin-right: 0
    }

    .row.full>.columns.sm-lg-1 {
        width: 8.3333333333%
    }

    .row.full>.columns.sm-lg-before-1 {
        margin-left: 8.3333333333%
    }

    .row.full>.columns.sm-lg-after-1 {
        margin-right: 8.3333333333%
    }

    .row.full>.columns.sm-lg-2 {
        width: 16.6666666667%
    }

    .row.full>.columns.sm-lg-before-2 {
        margin-left: 16.6666666667%
    }

    .row.full>.columns.sm-lg-after-2 {
        margin-right: 16.6666666667%
    }

    .row.full>.columns.sm-lg-3 {
        width: 25%
    }

    .row.full>.columns.sm-lg-before-3 {
        margin-left: 25%
    }

    .row.full>.columns.sm-lg-after-3 {
        margin-right: 25%
    }

    .row.full>.columns.sm-lg-4 {
        width: 33.3333333333%
    }

    .row.full>.columns.sm-lg-before-4 {
        margin-left: 33.3333333333%
    }

    .row.full>.columns.sm-lg-after-4 {
        margin-right: 33.3333333333%
    }

    .row.full>.columns.sm-lg-5 {
        width: 41.6666666667%
    }

    .row.full>.columns.sm-lg-before-5 {
        margin-left: 41.6666666667%
    }

    .row.full>.columns.sm-lg-after-5 {
        margin-right: 41.6666666667%
    }

    .row.full>.columns.sm-lg-6 {
        width: 50%
    }

    .row.full>.columns.sm-lg-before-6 {
        margin-left: 50%
    }

    .row.full>.columns.sm-lg-after-6 {
        margin-right: 50%
    }

    .row.full>.columns.sm-lg-7 {
        width: 58.3333333333%
    }

    .row.full>.columns.sm-lg-before-7 {
        margin-left: 58.3333333333%
    }

    .row.full>.columns.sm-lg-after-7 {
        margin-right: 58.3333333333%
    }

    .row.full>.columns.sm-lg-8 {
        width: 66.6666666667%
    }

    .row.full>.columns.sm-lg-before-8 {
        margin-left: 66.6666666667%
    }

    .row.full>.columns.sm-lg-after-8 {
        margin-right: 66.6666666667%
    }

    .row.full>.columns.sm-lg-9 {
        width: 75%
    }

    .row.full>.columns.sm-lg-before-9 {
        margin-left: 75%
    }

    .row.full>.columns.sm-lg-after-9 {
        margin-right: 75%
    }

    .row.full>.columns.sm-lg-10 {
        width: 83.3333333333%
    }

    .row.full>.columns.sm-lg-before-10 {
        margin-left: 83.3333333333%
    }

    .row.full>.columns.sm-lg-after-10 {
        margin-right: 83.3333333333%
    }

    .row.full>.columns.sm-lg-11 {
        width: 91.6666666667%
    }

    .row.full>.columns.sm-lg-before-11 {
        margin-left: 91.6666666667%
    }

    .row.full>.columns.sm-lg-after-11 {
        margin-right: 91.6666666667%
    }

    .row.full>.columns.sm-lg-12 {
        width: 100%
    }

    .row.full>.columns.sm-lg-before-12 {
        margin-left: 100%
    }

    .row.full>.columns.sm-lg-after-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width: 769px) {
    .row .lg-up-pull-right {
        float:right
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .row .lg-pull-right {
        float:right
    }
}
