/*
page header testimonial block
see /why-sterimar
/resources/assets/scss/main/common/testimonial.scss
imported into /resources/assets/scss/main/styles.scss
*/

.testimonial {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    will-change: height;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transition: all 0.3s ease-in-out;

    &.green {
        background-color: #96ba41;
    }

    &.orange {
        background-color: #f45635;
    }

    &.blue {
        background-color: #45a4e0;
    }

    blockquote {
        position: absolute;
        padding: 2rem 9rem;
        box-sizing: border-box;
        will-change: opacity;
        -webkit-perspective: 1000;
        -webkit-backface-visibility: hidden;
        transform: translateZ(0);
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transition: all 0.3s ease-in-out;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        &.fade {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
            filter: alpha(opacity=0);
            -moz-opacity: 0;
            -khtml-opacity: 0;
            opacity: 0;
        }
        p {
            margin: 0;
            font-family: "Handlee","Comic Sans MS",cursive,sans-serif;
            font-size: 3rem;
            line-height: 100%;
            color: #FFFFFF;
        }
        footer {
            width: 100%;
            text-align: right;
            margin-top: 1.6rem;
            font-size: 1.6rem;
            line-height: 100%;
            color: #FFFFFF;
            padding-right: 4rem;
            box-sizing: border-box;
        }
    }
    .ql, .qr {
        position: absolute;
        width: 3rem
    }

    .ql {
        top: 4rem;
        left: 4rem
    }

    .qr {
        right: 4rem;
        bottom: 4rem
    }
}

@media only screen and (min-width: 769px) and (max-width:960px) {
    .testimonial blockquote {
        padding:1rem 6rem
    }

    .testimonial blockquote p {
        font-size: 2rem
    }

    .testimonial blockquote footer {
        font-size: 1rem;
        margin-top: 1rem;
        padding-right: 2rem
    }

    .testimonial .ql,.testimonial .qr {
        width: 2rem
    }

    .testimonial .ql {
        top: 2rem;
        left: 2rem
    }

    .testimonial .qr {
        right: 2rem;
        bottom: 2rem
    }
}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .testimonial blockquote {
        padding:1rem 3rem
    }

    .testimonial blockquote p {
        font-size: 1.5rem;
        line-height: 130%
    }

    .testimonial blockquote footer {
        font-size: 1rem;
        margin-top: 0.5rem;
        padding-right: 1rem
    }

    .testimonial .ql,.testimonial .qr {
        width: 1.5rem
    }

    .testimonial .ql {
        top: 2rem;
        left: 1rem
    }

    .testimonial .qr {
        right: 1rem;
        bottom: 1rem
    }
}

@media only screen and (min-width: 0) and (max-width:480px) {
    .testimonial blockquote {
        padding:1rem 3rem
    }

    .testimonial blockquote p {
        font-size: 1rem;
        line-height: 130%
    }

    .testimonial blockquote footer {
        font-size: 1rem;
        margin-top: 0.5rem;
        padding-right: 0.5rem
    }

    .testimonial .ql,.testimonial .qr {
        width: 1.5rem
    }

    .testimonial .ql {
        top: 2rem;
        left: 1rem
    }

    .testimonial .qr {
        right: 1rem;
        bottom: 1rem
    }
}
