@import '../functions';
@import '../variables';

// Carousel

#contentWrapper {
	width:100%;
	@include float-both();
	position:relative;
}

.carousel-header {
  @include float-both();

  .bg {
		background-position: 50% 80%;
		// background-size: 100%;
		background-size: cover;

		&.home {
			@media #{$small-only} {
				background-size: 100%;
				background-position-y: 75%;
			}
			@media #{$medium-only} {
				background-size: 90%;
				background-position-y: 75%;
			}
			@media #{$large-only} {
				background-size: 90%;
				background-position-y: 75%;
			}
			@media #{$xlarge-only} {
				background-size: 90%;
				background-position-y: 65%;
			}
			@media #{$xxlarge-only} {
				/* background-size: 1700px; */
				background-size:95% auto;
				background-position-y: 55%;
			}
		}
  }

  @media #{$xxlarge-up} {
		height:860px;
		.bg {
			background-position: 50% 50%;

			&.align-top {
				background-position: 50% 0%;
			}
		}
  }

  @media #{$medium-only} {
		height:350px;
		.bg {
			height:350px;
		}
  }

  @media #{$small-only} {
		height:250px;
		.bg {
			height:250px;
		}
  }

  &.home {
  	@media #{$large-only} {
			height:550px;
			.bg {
				height:550px;
			}
	  }

	@media #{$medium-only} {
		height:450px;
		.bg {
			height:450px;
		}
	}

	@media #{$small-only} {
		height:350px;
			.bg {
				height:350px;
			}
		}
  }

  .text {

    position:absolute;
    left:5rem; top:5rem;
    width:50%;

    h1 {
      font-size:5.5rem;
      line-height:100%;
      color:$white;
      text-transform: uppercase;
      font-weight:bold;
      text-shadow: 0 0 5rem #000000;
      margin:0;

      span {
        font-weight:normal;
      }
    }

    p {
      font-size:3rem;
      line-height:100%;
      color:$white;
      text-shadow: 0 0 3rem #000000;
    }

    @media #{$large-only} {
      left:2.5rem; top:2.5rem;

      h1 {
        font-size:2.75rem;
        text-shadow: 0 0 2.75rem #000000;
      }

      p {
        font-size:1.5rem;
        text-shadow: 0 0 1.5rem #000000;
      }
    }

    @media #{$small-and-medium-only} {
      left:1rem; top:1rem;

      h1 {
        font-size:2rem;
        text-shadow: 0 0 2rem #000000;
      }

      p {
        font-size:1rem;
        text-shadow: 0 0 1rem #000000;
      }
    }
  }



  .middle {
    position:absolute;
    left:50%; top:2rem;
		height:100%;
    //margin-top:-(1.75rem * 1.5);
    @include translateX();
    width:100%;

    @media #{$small-and-medium-only} {
		top:1rem;
    }

    h1 {
      @include float-both();
      width:100%;
      color:$primary-color;
     // text-shadow: 0 0 3rem #000000;
      font-size:6rem;
      line-height:100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;

      span {
        font-weight:normal;
      }

      @media #{$large-only} {
        font-size:3rem;
        line-height:100%;
      }

      @media #{$small-and-medium-only} {
        font-size:1.8rem;
        line-height:100%;
      }
    }

    &.wtb {
    	top:50%;
			padding-top: 30rem;
    	@include translateXY();

			@media #{$small-only} {
				padding-top: 5rem;
      }

			@media #{$medium-only} {
				padding-top: 12rem;
      }

			@media #{$large-only} {
				padding-top: 14rem;

			}
			@media #{$xlarge-only} {
				padding-top: 28rem;
      }

    	h1 {
		    color:$white;
		    text-shadow: 0 0 3rem #000000;
	    }
    }

  p {
  	@include float-both();
		text-align: center!important;
		font-size:2rem;
		line-height:100%;
		color:$primary-color;
		width:100%;
		@include border-box();
		padding:0 3rem;
		margin-top:1rem;

		&.disclaimer {
			position: absolute;
			width: auto;
			bottom: 95px;
			right:0;
			font-size:0.8rem;

			@media #{$small-up} {
				bottom: 56px;
				font-size:0.6rem;
			}

			@media #{$medium-up} {
				font-size:0.6rem;
			}

			@media #{$large-up} {
				bottom: 95px;
				font-size:0.8rem;
			}

			@media #{$xxlarge-up} {
				bottom: 125px;
				font-size:0.8rem;
			}
		}

		@media #{$large-only} {
			font-size:1.5rem;
      line-height:100%;
		}

		@media #{$medium-only} {
			font-size:1.5rem;
        	line-height:100%;
		}

		@media #{$small-only} {
			font-size:1rem;
      line-height:100%;
		}
	}

    p.link {
      @include float-both();
      width:100%; height:2.5rem;
      position:relative;



      a.quiz {
        display:block;
          position: absolute;
        left:50%;
        top:1rem;
        @include translateX();

        font-size:2rem;
        padding:1rem 2rem;

        text-transform: uppercase;
        font-weight:bold;
        color:$dark-blue;
        background-color:$white;
        border:2px $white solid;
        @include transition-this(all,0.2s);

        @media #{$large-only} {
          font-size:1rem;
          padding:0.5rem 1rem;
        }

        @media #{$medium-only} {
            font-size:1rem;
          padding:0.5rem 1rem;
          }

          @media #{$small-only} {
            font-size:0.9rem;
          padding:0.5rem 1rem;
          }

        &:hover {
        	background-color:transparent;
        	color:$white;
        }
      }
    }
  }

  .roundal {
  	position:absolute;
  	right:5rem; top:5rem;
  	width:150px;

	@media #{$xlarge-only} {
    	right:5rem; top:5rem;
  		width:150px;
    }

  	@media #{$large-only} {
  		right:2.5rem; top:2.5rem;
    	width:100px;
    }

    @media #{$medium-only} {
        right:1rem; top:1rem;
  		width:100px;
    }

    @media #{$small-only} {
        right:1rem; top:1rem;
  		width:60px;
    }
    &.original{
    	right:2rem; top:2rem;
	  	@media #{$large-only} {
	  		right:2rem; top:2rem;
	    	width:100px;
	    }

	    @media #{$medium-only} {
	        right:1rem; top:1rem;
	  		width:100px;
	    }

	    @media #{$small-only} {
	        right:1rem; top:1rem;
	  		width:60px;
	    }
    }
  }

  @include navbarText();
}

.section {
	@include float-both();
	width:100%;
	position:relative;

	@media #{$medium-to-large-only} {
		padding:0 2rem;
		@include border-box();
	}

	@media #{$small-only} {
		padding:0 1rem;
		@include border-box();
	}

	.first-head {
		margin-top:2rem!important;

		@media #{$small-and-medium-only} {
			margin-top:1rem!important;
		}
	}

	.eq {
		@include transition-this(height,0.1s,linear);
	}

	.eq-inner {
		@include float-both();
		width:100%;
	}

	.col {
		text-align:center;


		h1 {
			font-size:4rem;
			line-height:100%;
			font-weight:bold;
			text-transform: uppercase;
			margin-bottom:3rem;

			span {
				font-weight:normal;
			}

			@media #{$small-to-large-only} {
				font-size:2rem;
				text-align:left;
				margin-bottom:1rem;
			}
		}
	}

	.col1 {
		text-align:right;
		z-index:100;
		position:relative;

		h1, h2, h3 {
			margin-right:4rem;

			@media #{$small-and-medium-only} {
				margin-right:0;
			}

			sup {
				vertical-align: super;

				@media #{$small-only} {
					font-size: 14px;
				}
				@media #{$medium-only} {
					font-size: 14px;
				}
				@media #{$large-only} {
					font-size: 14px;
				}
				@media #{$xlarge-up} {
					font-size: 14px;
				}
				@media #{$xxlarge-up} {
					font-size: 24px;
				}
			}
		}

		&.text {
			text-align:left;
			padding-left:4rem;
			@include border-box();

			@media #{$small-and-medium-only} {
				padding-left:0;
			}
		}
	}

	.col2, .col3 {
		text-align:left;
		z-index:100;

		h1, h2, h3 {
			margin-left:4rem;

			@media #{$small-and-medium-only} {
				margin-left:0;
			}
		}
	}

	h2, h3, h5, p  {
		color:$primary-color;
	}

	.col1, .col2, .col3, .col4 {
		position:relative;

		.wrap {
			width:100%;
			@include border-box();
			padding:0 4rem;

			img {
				width:100%;
				max-width:610px;
				//margin-top:10rem;

				@media #{$large-only} {
					//margin-top:1rem;
				}

				@media #{$small-and-medium-only} {
					margin:0 10%;
				}
			}

			&.down {
				float:none; clear:none;
				position:absolute;
				bottom:35px;

				img {
					max-width:320px
				}
			}

			&.lift {
				padding:0 3rem;
				bottom: 35px;

				@media #{$large-only} {
					bottom: -17px;
				}

				@media #{$xlarge-only} {
					bottom: -17px;
				}
			}

			@media #{$xlarge-only} {
				img {
					//margin-top:10rem;
				}
			}

			@media #{$large-only} {
				padding:0 0.5rem 0 0.5rem;
				img {
					//margin-top:10rem;
				}
			}


			@media #{$small-and-medium-only} {
				padding:0 0.5rem;
			}
		}

		h1 {
			font-size:3.5rem;
			line-height:100%;
			font-weight:bold;
			text-transform: uppercase;
			margin-bottom:2rem;

			span {
				font-weight:normal;
			}

			@media #{$xlarge-only} {
				font-size:3.5rem;
				margin-bottom:1.5rem;
			}

			@media #{$large-only} {
				font-size:2.25rem;
				margin-bottom:1rem;
			}

			@media #{$small-and-medium-only} {
				font-size:2.25rem;
				text-align:center;
				margin-bottom:1rem;
			}
		}

		h2 {
			font-size:2.5rem;
			line-height:100%;
			font-weight:bold;
			margin-top:0;

			span {
				font-weight:normal;
			}

			@media #{$xlarge-only} {
				font-size:2.5rem;
				padding-right:20px;
			}

			@media #{$large-only} {
				font-size:1.5rem;
			}

			@media #{$small-and-medium-only} {
				font-size:1.5rem;
				text-align:center;
			}
		}

		h3 {
			font-size:1.7rem;
			line-height:100%;
			font-weight:bold;
			margin-top:0.2rem;

			@media #{$small-to-large-only} {
				font-size:1rem;
				text-align:center;
			}
		}

		.allergyuk {
			width:180px!important;
			margin:0 0 2rem 0!important;

			@media #{$xxlarge-only} {
				width:240px!important;
			}

			@media #{$small-to-large-only} {
				@include float-both();
				height:30px; width:auto!important;
				margin:0 0 2rem 0!important;
			}
		}

		h5.link-list {
			@include float-both();
			font-size:1.5rem;
			margin-top:0rem;
			@media #{$xlarge-only} {
				margin-top:0rem;
			}
			@media #{$small-to-large-only} {
				font-size:0.8rem;
				margin-top:0rem;
			}

		}
		ul.link-list {
			@include float-both();
			list-style:none;
			font-size:1.5rem;
			margin-bottom:1rem;

			li {
				@include float-both();
				margin-top:1rem;

				a {
					text-decoration:underline;
				}
			}

			@media #{$small-to-large-only} {
				font-size:0.8rem;
				line-height:130%;

				li {
					margin-top:0.5rem;
				}
			}
		}

		.bottom {
			position:absolute;
			left:4rem; right:4rem;
			bottom:-(1.5rem / 2);
			@include translateY(-5rem);

			a {
				font-size:1.5rem;
				padding:0.5rem 1rem;
				background-color:$white;
				text-transform: uppercase;
				font-weight:bold;

				&:hover, &:visited:hover {

				}
			}

			@media #{$large-only} {
				bottom:-0.75rem;
				@include translateY(-2.5rem);

				a {
					font-size:0.75rem;
					padding:0.25rem 0.5rem;
				}
			}

			@media #{$small-and-medium-only} {
				position:relative;
				@include float-both();
				left:auto; right:auto;
				bottom:auto;
				@include translateY(0);
				text-align:center;
				width:100%;
				margin:1rem 0;

				a {
					font-size:0.75rem;
					padding:0.25rem 0.5rem;
				}
			}
		}
	}

	.col3 {
		h5 {
			font-size:1.5rem;
			text-transform:uppercase;
		}

		@media #{$small-and-medium-only} {
			height:400px!important;
		}

		@media #{$large-only} {
			height:350px!important;
		}
	}

	.col4 {
		z-index:100;
		height:400px;

		@media #{$large-only} {
			height:350px!important;
		}

		img {
			max-width:auto;
			width:auto!important;

			@media #{$large-only} {
				height:350px!important;
			}

			@media #{$medium-only} {
				height:350px!important;
			}

			@media #{$small-only} {
				height:270px!important;
			}
		}
	}

	.bar {
		position:absolute;
		width:100%;
		left:0; bottom:0;
		height:10rem;
		z-index:1;

		@media #{$large-only} {
			height:8rem;
		}

		@media #{$medium-only} {
			height:6rem;
		}

		@media #{$small-only} {
			height:6rem;
		}
	}

	.buy-wrap {
		position:absolute;
		right:25%;
		bottom:0;
		height:10rem;
		width:25%;
		z-index:1000;

		@media #{$large-only} {
			height:8rem;
			width:41.666%;
			right:0;
		}

		@media #{$small-and-medium-only} {
			height:6rem;
			width:41.666%;
			right:0;
		}

		.buy {
			position:absolute;
			right:4rem;
			bottom:5rem;
			@include translateY(50%);


			font-size:2.5rem;
			padding:1rem 2rem;
			background-color:$white;
			text-transform: uppercase;
			font-weight:bold;
			border:2px $white solid;
			@include transition-this(all, 0.2s);

			&:hover, &:visited:hover {
				background-color:transparent;
				color:$white;
			}

			@media #{$large-only} {
				//left:0;

				font-size:1rem;
				padding:0.5rem 1rem;
				bottom:4rem;
			}

			@media #{$small-and-medium-only} {
				// left:0;
				font-size:0.75rem;
				padding:0.25rem 0.5rem;
				bottom:3rem;
				//right:2rem;
			}
		}
	}

	&.alt {
		padding:2rem 0;

		.packs {
			width:100%;
			@include scale(0.8);
			@include transition-this(all,0.1s);

			&:hover {
				@include scale(1);
			}
		}

		h3 {
			font-size:2rem;
			line-height:100%;
			font-weight:bold;
			text-align:center;
			text-transform:uppercase;
		}

		@media #{$small-to-large-only} {
			padding:2rem;

			h3 {
				font-size:1rem;
				margin-bottom: 1rem;
			}
		}
	}

	&.view {
		.col1, .col2, .col3, .col4 {
			h2 {
				@media #{$small-to-large-only} {
					font-size:1.5rem;
					text-align:left;
				}
			}

			h3 {
				@media #{$small-to-large-only} {
					font-size:1rem;
					text-align:left;
				}
			}
		}

		.laze {
			@include opacity(0);
		}

	}
}

.green {
	h1 {
		color:$green;
	}

	.bar {
		background-color:$green;
	}

	.buy {
		color:$green;
		border: 2px $green solid;
	}

	.bottom {
		a {
			color:$green;
			border: 2px $green solid;
		}
	}



	.link-list {
		li {
			a {
				color:$green;
			}
		}
	}
}

.orange {
	h1 {
		color:$orange;
	}

	.bar {
		background-color:$orange;
	}

	.buy {
		color:$orange;
		border: 2px $orange solid;
	}

	.bottom {
		a {
			color:$orange;
			border: 2px $orange solid;
		}
	}

	.link-list {
		li {
			a {
				color:$orange;
			}
		}
	}
}

.blue {
	h1 {
		color:$kid-blue;
	}

	.bar {
		background-color:$kid-blue;
	}

	.buy {
		color:$kid-blue;
		border: 2px $kid-blue solid;
	}

	.bottom {
		a {
			color:$kid-blue;
			border: 2px $kid-blue solid;
		}
	}

	.link-list {
		li {
			a {
				color:$kid-blue;
			}
		}
	}
}

.info {
	padding:4rem 4rem 12rem 4rem;

	@media #{$xlarge-only} {
		padding:4rem 4rem 10rem 4rem;
	}

	@media #{$small-to-large-only} {
		padding:4rem 4rem 1rem 4rem;
	}

	li {
		padding-bottom:1rem;
		border-bottom:1px $mid-grey solid;
		color:$primary-color;

		&:last-child {
			border-bottom:none;
		}
	}
}

.wtb {
	padding-bottom: 8rem;

	.columns {
		text-align:center;

		p {
			font-size:2.25rem;
			line-height:100%;

			@media #{$large-only} {
			}

			@media #{$small-and-medium-only} {
				font-size:1rem;
			}
		}

		.logo {
			width:80%;
    	max-height:150px;
    	margin:1rem auto;
		}
	}
}

#wtb_wrap {
	padding-top: 4rem;
  padding-bottom: 8rem;
	max-width: 1920px;
	margin: 0 auto;
	float: none;

	#english_wtb_select,
	#english_wtb,
	#irish_wtb {

		* {
			$col_count: 10;

			@for $i from 1 through $col_count {

				&.pTB-#{$i} {
					padding:#{$i}rem 0;
				}

				&.pLR-#{$i} {
					padding:0 #{$i}rem;
				}
			}
		}

		.english-flag,
		.irish-flag {
			.inner {
				border: 4px solid #000;
				background-color: black;

				.fade-background {
					position: absolute;
					z-index:100;
					top:0;right:0;
					bottom:0;left:0;
					background: rgba(255, 255, 255, 0.5);
				}

				h4 {
					position: absolute;
					left:50%; top:50%;
					font-size: 6rem;
					z-index:101;
					@include translateXY(-50%, -50%);
					color: $primary-color;

					&.ie {
						font-size: 6rem;
					}

					@media #{$small-only} {
						font-size: 3rem !important;
					}
					@media #{$medium-only} {
						font-size: 2rem !important;
					}
					@media #{$large-only} {
						font-size: 2rem !important;
					}
					@media #{$xlarge-only} {
						font-size: 5rem !important;
					}
				}
			}
		}

		h2 {
			font-size: 3rem;
			line-height: 4rem;
			padding:2rem 0;
			font-weight: bold;
			color: $primary-color;
		}

		p {
			margin:0 !important;
			padding-left: 1rem;

			@media #{$small-only} {
				padding:0;
			}
		}

		img {
			width:100%;

			&.flag-border {
				border: 2px solid #000;
				opacity:0.5;
				cursor: pointer;
			}
		}

		.english-flag {
			cursor:pointer;
		}

		.irish-flag {
			cursor:pointer;
		}
	}

	.independent {
		text-align: center;

		img {
			display: inline-block;
			height: 50px !important;
			width: auto !important;
			margin-left:5%;

			@media #{$small-only} {
				width: 100% !important;
				height: auto !important;
				margin-left:0;
			}
			// @media #{$medium-only} {
			// 	width: 100% !important;
			// 	height: auto !important;
			// }
		}
	}
}

.section .col1 h2{
	padding-left:1em;
}
.section .col2 h2{
	padding-right:1em;
}

.interested{
	.row{
		.columns{
			width:45%;
			display:inline-block;
			float:left;
			clear:none;
			margin:0 2.5%;
			text-align:center;
		}
		&:after{
			content:' ';
			display:block;
			float:none;
			clear:both;
		}
		&.threecol{
			.columns{
				position:relative;
				width:100%;

				a{
					position:relative;
					width:100%;
					overflow:hidden;
					padding-top:50%;
					display:block;
					@include scale(0.8);
					@include transition-this(all,0.1s);
					img{
						width:50%;
						position:absolute;
						top:50%;
						left:50%;
						transform: translate(-50%,-50%);

					}
					&:hover {
						@include scale(1);
					}
				}
				h3{
					position:absolute;
					bottom:20px;
					left:0px;
					width:100%;
					padding:0;
					margin:0;
					text-align:center;
				}

				@media screen and (min-width:480px){
					&{
						padding-bottom:2rem;
						width:28%;
						a{
							padding-top:80%;
							img{
								width:100%;
							}
						}
						h3{
							position:static;
						}
					}
				}
			}
		}
	}
}

