/**
 * Foundation Mixins
 */
/**
 * Retina mixin
 */
.mt05 {
  margin-top: 0.5rem !important;
}

.ml0 {
  margin-left: 0rem !important;
}

.mt0 {
  margin-top: 0rem !important;
}

.pt0 {
  padding-top: 0rem !important;
}

.mb0 {
  margin-bottom: 0rem !important;
}

.pb0 {
  padding-bottom: 0rem !important;
}

.mr0 {
  margin-right: 0rem !important;
}

.ml1 {
  margin-left: 1rem !important;
}

.mt1 {
  margin-top: 1rem !important;
}

.pt1 {
  padding-top: 1rem !important;
}

.mb1 {
  margin-bottom: 1rem !important;
}

.pb1 {
  padding-bottom: 1rem !important;
}

.mr1 {
  margin-right: 1rem !important;
}

.ml2 {
  margin-left: 2rem !important;
}

.mt2 {
  margin-top: 2rem !important;
}

.pt2 {
  padding-top: 2rem !important;
}

.mb2 {
  margin-bottom: 2rem !important;
}

.pb2 {
  padding-bottom: 2rem !important;
}

.mr2 {
  margin-right: 2rem !important;
}

.ml3 {
  margin-left: 3rem !important;
}

.mt3 {
  margin-top: 3rem !important;
}

.pt3 {
  padding-top: 3rem !important;
}

.mb3 {
  margin-bottom: 3rem !important;
}

.pb3 {
  padding-bottom: 3rem !important;
}

.mr3 {
  margin-right: 3rem !important;
}

.ml4 {
  margin-left: 4rem !important;
}

.mt4 {
  margin-top: 4rem !important;
}

.pt4 {
  padding-top: 4rem !important;
}

.mb4 {
  margin-bottom: 4rem !important;
}

.pb4 {
  padding-bottom: 4rem !important;
}

.mr4 {
  margin-right: 4rem !important;
}

.ml5 {
  margin-left: 5rem !important;
}

.mt5 {
  margin-top: 5rem !important;
}

.pt5 {
  padding-top: 5rem !important;
}

.mb5 {
  margin-bottom: 5rem !important;
}

.pb5 {
  padding-bottom: 5rem !important;
}

.mr5 {
  margin-right: 5rem !important;
}

.hidden {
  display: none;
}

.ff {
  float: left;
}

.error {
  color: #d20000;
  margin: 0 0 0.5rem 0;
}

.alert-box .close.top {
  top: 1rem !important;
}

.table-buttons .button {
  margin-bottom: 0;
}

.accordion {
  margin-left: 0 !important;
}

.accordion li.active a::before {
  content: "- ";
}

.accordion li a::before {
  content: "+ ";
}

img.preview {
  width: 100%;
}

tr.disabled {
  background-color: #E4D6D6;
}

tr.disabled:nth-of-type(even) {
  background-color: #dccaca;
}

tr.disabled a:link, tr.disabled a:visited {
  color: #b18989;
}

tr.disabled a:hover, tr.disabled a:visited:hover {
  color: #9d6a6a;
}

.th {
  position: relative;
}

.th img {
  width: 100px;
}

.th .btn {
  position: absolute;
  right: 3px;
  bottom: 3px;
  padding: 8px 0 0 3px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.th:hover .btn {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.th .fakeIcon {
  display: block;
  width: 100px;
  height: 100px;
}

.th .fakeIcon span {
  display: block;
  padding-top: 50%;
  width: 100%;
  text-align: center;
}

.table-top {
  vertical-align: top;
}

ul.dropdown-pane {
  list-style: none;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/images/shared/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("/images/shared/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/images/shared/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("/images/shared/fancybox/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("/images/shared/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("/images/shared/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
