<div class="pane animated-pane left-btn">
	<div class="pane-video-wrap hidden-small hidden-medium"></div>
	<div class="mobile-pane-video-wrap hidden-large hidden-xlarge hidden-xxlarge"></div>
	<div class="pane-label"></div>
	<!-- <div class="packshot"></div> -->
	<a href="" class="btn"></a>
</div>
