/*
info block
/resources/assets/scss/main/common/info.scss
imported into /resources/assets/scss/main/styles.scss
*/
.info {
  float: left;
  clear: both;
  list-style: none;
  width: 100%;
  padding: 0 4rem 1rem 4rem;
  box-sizing: border-box;
  min-height: 12rem;
}

@media only screen and (min-width: 0) and (max-width: 960px) {
  .info {
    min-height: auto;
    height: auto !important;
  }
}
.info li {
  float: left;
  clear: both;
  margin-bottom: 1rem;
  position: relative;
}

.info li svg {
  position: absolute;
  left: -3.5rem;
  top: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.info li svg path {
  fill: #214da4;
  transition: opacity 0.2s linear;
}

.info li svg path.plus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.info li svg path.minus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

@media only screen and (min-width: 0) and (max-width: 960px) {
  .info li svg {
    width: 1.5rem;
    height: 1.5rem;
    left: -2.5rem;
    top: -0.25rem;
  }
}
.info li h5 {
  font-weight: bold;
  line-height: 140%;
  font-size: 1.429rem;
}

.info li p {
  margin-top: 0.5rem;
  line-height: 130%;
  font-size: 1.286rem;
  height: 0;
  overflow: hidden;
  transition: height 0.3s linear;
}

.info li p a {
  text-decoration: underline;
}

.info li.active h5 {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 0) and (max-width: 960px) {
  .info li.active h5 {
    margin-bottom: 0.5rem;
  }
}
.info li.active p {
  height: auto;
}

.info li.active svg path.plus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.info li.active svg path.minus {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$int)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

@media only screen and (min-width: 0) and (max-width: 960px) {
  .info {
    padding: 2rem 0 1rem 3rem;
  }

  .info li h5, .info li p {
    font-size: 1rem;
    line-height: 130%;
  }
}